@import "lib/variables";

.ln-bounce {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    > div {
        width: 1em;
        height: 1em;
        background-color: $lnx-primary-text-color;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: ln-bounce 1.4s infinite ease-in-out both;
        animation: ln-bounce 1.4s infinite ease-in-out both;
    }

    div:nth-child(1) {
        animation-delay: -0.32s;
    }

    div:nth-child(2) {
        animation-delay: -0.16s;
    }
}

@keyframes ln-bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(0.95);
    }
}
