@import "lib/variables";

.ln-ripple {
    display: inline-block;
    position: relative;

    div {
        border: 4px solid $lnx-primary-text-color;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: ln-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes ln-ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
