@use "sass:math";

@import "lib/variables";

@keyframes ln-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@mixin gen_spinner($spokes, $duration, $clockwise: true) {
    $delay: math.div($duration, $spokes);
    $deg: math.div(360, $spokes);

    @for $i from 1 through $spokes {
        &:nth-child(#{$i}) {
            $spoke_delay: $delay * $i;
            @if $clockwise {
                $spoke_delay: $duration - ($delay * $i);
            }

            transform: rotate(#{$deg * ($i - 1)} + deg);
            animation-delay: -$spoke_delay;
        }
    }
}

$spinner-duration: 1.2s;

.ln-spinner {
    color: $lnx-primary-text-color;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;

    div {
        transform-origin: 0.5em 0.5em;
        animation: ln-spinner $spinner-duration linear infinite;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0.0375em;
            left: 0.4625em;
            width: 0.075em;
            height: 0.225em;
            border-radius: 20%;
            background: $lnx-primary-text-color;
        }

        @include gen_spinner(12, $spinner-duration);
    }
}
