span.bot-label {
    border-radius: 0.25em;
    font-size: 0.75em;
    margin-inline-start: 0.5em;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    //user-select: none;

    background-color: hsl(227, 70%, 60%); //#5674e1 #7289da;
    .ln-light-theme & {
        background-color: hsl(227, 60%, 80%); //#5674e1 #7289da;
    }

    span {
        padding: 0.125em 0.25em;
        white-space: nowrap;
    }
}
