@import "lib/variables";

.ln-emoji-picker {
    font-size: 1rem;

    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
    width: min(30em, 80vw);
    height: min(40em, 80vh);

    .ln-modal-bottom & {
        max-height: calc(var(--modal-top) - 1em);
    }
    .ln-modal-top & {
        max-height: calc(100vh - var(--modal-top));
    }
    .ln-modal-right & {
        max-width: calc(var(--modal-left) - 1em);
    }
    .ln-modal-left & {
        max-width: calc(100vw - var(--modal-left));
    }

    background-color: $lnx-primary-surface-color;
    border: 1px solid $lnx-secondary-surface-color;
    box-shadow: 0.25rem 0.25rem 0.5rem $lnx-primary-surface-color;

    .ln-light-theme & {
        background-color: $lnx-tertiary-surface-color;
    }

    border-radius: 0.5em;
    overflow: hidden;

    .ln-oled-theme & {
        border-color: $ln-oled-border-color;
    }

    .emoji {
        cursor: pointer;
        filter: #{"invert(var(--dark-emoji, 0))"} drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));

        .ln-light-theme & {
            filter: #{"invert(var(--light-emoji, 0))"} drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
        }
    }

    display: flex;
    flex-direction: column;

    &__search {
        height: 3em;
        display: flex;
        box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);

        &-input {
            width: 100%;
            height: 100%;
            margin-inline-start: 0.5em;
            position: relative;

            > span {
                position: absolute;
                inset: 0 0 0 auto;
                height: 2em;
                width: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-block: auto;
                align-items: center;
                cursor: pointer;

                svg {
                    fill: $lnx-secondary-text-color;
                }

                &:hover,
                &:active {
                    svg {
                        fill: $lnx-primary-text-color;
                    }
                }
            }
        }

        input {
            font: inherit;
            width: 100%;
            margin-block: 0.5em;
            height: 2em;
            border-radius: 0.5em;
            padding-inline: 1em;
            border: none;
            color: $lnx-primary-text-color;
            outline: none;

            background-color: rgba(128, 128, 128, 0.5);
            .ln-light-theme & {
                background-color: rgba(192, 192, 192, 0.25);
            }

            &:focus,
            &:active,
            &:focus-within {
                border: none;
            }
        }
    }

    &__tone {
        position: relative;
        width: 3em;
        height: 3em;

        &:hover &-options {
            height: calc(3em * 5);
        }

        &-options {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: -0.25em 0.25em 0.25em rgba(0, 0, 0, 0.5);
            border-bottom-left-radius: 1em;

            height: 0;

            .ln-enable-motion & {
                transition: 0.1s height ease-out;
            }
        }

        &-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;

            z-index: 1;
            position: relative;
            border-bottom-left-radius: 1em;

            background-color: $lnx-primary-surface-color;
            .ln-light-theme & {
                background-color: $lnx-tertiary-surface-color;
            }
        }

        span {
            cursor: pointer;
            width: 2em;
            height: 2em;
            display: inline-block;
            border-radius: 50%;
            flex-shrink: 0;
            margin: 0.5em;
            box-shadow: inset 0 0 0.125em rgba(0, 0, 0, 0.5);
        }
    }

    &__picker {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 0; // shrink flex
    }

    &__categories {
        font-size: 2.25em;
        width: 1.5em;
        min-width: 1.5em;
        padding-block: 0.25em;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $lnx-secondary-surface-color;

        .ln-light-theme & {
            background-color: $lnx-primary-surface-color;
        }

        > div {
            cursor: pointer;
            padding-block: 0.125em;
            padding-inline: 0.25em;
            display: flex;

            &:hover {
                background-color: rgba(128, 128, 128, 0.2);
            }

            &:active,
            &.selected {
                background-color: rgba(128, 128, 128, 0.35);
            }
        }
    }

    &__listing {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-content: flex-start;
        //justify-content: center;
        justify-content: space-evenly;

        .emoji {
            margin: 0.1em;
            padding: 0.15em;
            border-radius: 0.15em;

            width: auto;
            height: auto;
            font-size: 2em;

            &:hover {
                background-color: rgba(128, 128, 128, 0.2);
            }

            &:active {
                background-color: rgba(128, 128, 128, 0.35);
            }
        }
    }
}
