@import "variables";

:root {
    --ln-primary-surface-color: #{$ln-primary-surface-color};
    --ln-secondary-surface-color: #{$ln-secondary-surface-color};
    --ln-primary-text-color: #{$ln-primary-text-color};
}

@import "reset";

html,
body {
    height: 100%;
}

body {
    background-color: $lnx-primary-surface-color;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
