@import "lib/variables";

.ln-settings {
    display: flex;

    div#logout div {
        position: relative;
        margin-top: auto;
        font-size: 3em;
        text-align: center;
        padding: 0.2em 0;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            filter: drop-shadow(0 0 0.07em $lnx-secondary-text-color);
        }
    }
}
