@import "lib/variables";

.ln-msg-box__emoji {
    position: relative;

    .ln-context-anchor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
