@import "lib/variables";

.ln-login-form {
    width: 30em;

    @media (max-width: 49em) {
        width: 100%;
    }
}

.ln-login-container {
    display: flex;
    position: relative;
    background-color: $lnx-secondary-surface-color;

    &::before,
    &::after {
        // Fixes lantern popping above this translucent layer during theme transition
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);

        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .ln-enable-motion & {
            transition: opacity 1s ease-in;
        }
    }

    @media (min-width: 49em) {
        &::before,
        &::after {
            opacity: 0;
            border-radius: 1em;
        }

        border-radius: 1em;
        padding: 0 2em 2em 2em;

        &::before {
            box-shadow: -0.1em 0 0.8em black;
            .ln-dark-theme & {
                opacity: 1;
            }
        }

        &::after {
            box-shadow: inset 0 0 0.4em #aaa;
            .ln-light-theme & {
                opacity: 1;
            }
        }
    }

    @media (max-width: 49em) {
        padding: 0 0.5em 2em 0.5em;
        width: 100%;
        justify-content: center;
        min-height: 100%;

        background-color: transparent;

        &::before {
            opacity: 0.8;
            background-color: $lnx-secondary-surface-color;
        }
    }
}
