.katex-display {
    text-align: start;

    // TODO: Revisit this, make it look nicer, handle touch events
    overflow: auto hidden;

    .compact & {
        margin: 0;
    }

    > .katex {
        text-align: start;
    }
}
