@import "lib/variables";

.ln-markdown {
    span.spoiler {
        position: relative;
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
        display: inline-block;
        white-space: pre;

        &::after {
            content: "";
            position: absolute;
            background-color: black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &.visible {
            background-color: rgba(128, 128, 128, 0.3);
            cursor: inherit;

            &::after {
                content: none;
            }
        }
    }
}
