@import "lib/variables";

.ln-markdown {
    span.spoiler {
        position: relative;
        text-decoration: inherit;
        display: inline-flex;

        background-color: rgba(128, 128, 128, 0.2);

        .ln-light-theme & {
            background-color: rgba(128, 128, 128, 0.1);
        }

        &.hidden {
            cursor: pointer;

            &::selection,
            &::-moz-selection,
            & *::selection,
            & *::-moz-selection {
                background-color: black;
            }

            > * {
                position: relative;
                z-index: -1;
            }

            &,
            & * {
                user-select: none;
                fill: transparent;
                clip: auto;
                overflow: hidden;
                overflow: clip;

                background-color: black;
                color: black;
                box-shadow: inset 1000rem 1000rem black;

                .ln-oled-theme & {
                    background-color: #666;
                    color: #666;
                    box-shadow: inset 1000rem 1000rem #666;
                }
            }
        }

        //&::after {
        //    content: "";
        //    position: absolute;
        //    background-color: black;
        //    inset: 0;
        //}
    }
}
