.ln-markdown {
    span.spoiler {
        position: relative;
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            background-color: black;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        &.visible {
            cursor: inherit;

            &::after {
                content: none;
            }
        }
    }
}
