@import "lib/variables";

.ln-party-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $lnx-primary-text-color;

    .ln-avatar {
        &__image,
        &__text {
            font-size: 2em;
        }
    }

    li {
        position: relative;
        text-align: center;
        width: 100%;

        &::before {
            contain: paint;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 93%;
            background-color: $lnx-primary-text-color;
            transform: scaleY(0);

            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;

            .ln-enable-motion & {
                transition: transform 0.1s ease-in;
            }
        }

        &:hover::before {
            transform: scaleY(40%);
        }

        &.selected::before {
            transform: scaleY(80%);
        }

        margin-bottom: 0.7em;

        &:first-child {
            margin-top: 0.7em;
        }

        &#create-party {
            .ln-avatar {
                &__text {
                    background-color: $lnx-primary-surface-color;

                    .ln-enable-motion & {
                        transition: background-color 0.1s ease-in;
                    }
                }

                &__wrapper:hover .ln-avatar__text {
                    background-color: $lnx-tertiary-surface-color;
                }
            }
        }
    }

    @include scrollbar($lnx-secondary-text-color, $lnx-secondary-surface-color);

    &__wrapper {
        width: 4.2em;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        height: 100%;
        background-color: $lnx-secondary-surface-color;

        div#logout {
            position: relative;
            margin-top: auto;
            font-size: 3em;
            text-align: center;
            padding: 0.2em 0;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                filter: drop-shadow(0 0 0.07em $lnx-secondary-text-color);
            }
        }
    }
}
