@import "lib/variables";

.ln-party-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.ln-avatar-image,
    span.ln-avatar-text {
        font-size: 2em;
    }

    li {
        margin-bottom: 0.7em;

        &:first-child {
            margin-top: 0.7em;
        }
    }

    @include scrollbar($lnx-secondary-text-color, $lnx-secondary-surface-color);

    &__wrapper {
        width: 4.5em;
        display: flex;
        flex-direction: column;

        height: 100%;
        background-color: $lnx-secondary-surface-color;

        div#logout {
            position: relative;
            margin-top: auto;
            font-size: 3em;
            text-align: center;
            padding: 0.2em 0;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                filter: drop-shadow(0 0 0.07em $lnx-secondary-text-color);
            }
        }
    }
}
