@import "lib/variables";

.ln-user-avatar {
    position: relative;
}

.ln-user-status {
    position: absolute;
    bottom: -0.2em;
    right: -0.2em;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .ln-glyphicon {
        svg {
            fill: lightgreen;

            .ln-light-theme & {
                fill: green;
            }

            z-index: 0;
        }

        &__wrapper {
            position: relative;

            &::before {
                content: "";
                background-color: $lnx-primary-surface-color;
                position: absolute;
                top: -0.4px;
                bottom: -0.4px;
                left: 1.2px;
                right: 1.2px;
                border-radius: 0.2em;
            }
        }
    }

    > span {
        border: 2px solid $lnx-primary-surface-color;

        border-radius: 50%;
        width: 0.85em;
        height: 0.85em;
        display: inline-block;

        &.online {
            background-color: lightgreen;
        }

        &.busy {
            background-color: lightcoral;
        }

        &.away {
            background-color: gold;
        }

        &.offline {
            background-color: gray;
        }
    }
}
