.ln-user-avatar {
    position: relative;
}

.ln-user-status {
    position: absolute;
    bottom: -0.2em;
    right: -0.2em;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    span {
        border: 2px solid #333;

        border-radius: 50%;
        width: 0.85em;
        height: 0.85em;
        display: inline-block;

        &.online {
            background-color: lightgreen;
        }

        &.busy {
            background-color: lightcoral;
        }

        &.away {
            background-color: gold;
        }

        &.offline {
            background-color: gray;
        }
    }
}
