@import "lib/variables";

.ln-user-avatar {
    position: relative;
}

.ln-user-status {
    position: absolute;
    bottom: -0.2em;

    .ln-ltr & {
        right: -0.2em;
    }
    .ln-rtl & {
        left: -0.2em;
    }

    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .ln-icon {
        svg {
            fill: lightgreen;

            .ln-light-theme & {
                fill: green;
            }

            z-index: 0;
        }

        &__wrapper {
            position: relative;

            &::before {
                content: "";
                background-color: $lnx-primary-surface-color;
                position: absolute;
                top: -0.4px;
                bottom: -0.4px;
                left: 1.2px;
                right: 1.2px;
                border-radius: 0.2em;
            }
        }
    }

    > span {
        border: 2px solid $lnx-primary-surface-color;

        border-radius: 50%;
        width: 0.9em;
        height: 0.9em;
        display: inline-block;
        position: relative;

        &.online {
            background-color: lightgreen;

            .ln-light-theme & {
                background-color: rgb(0, 180, 0);
            }
        }

        &::after {
            position: absolute;
            background-color: var(--ln-primary-surface-color, #303136);
        }

        &.busy {
            background-color: rgb(245, 66, 66);

            .ln-light-theme & {
                background-color: red;
            }

            // little rectangle for busy
            &::after {
                content: "";
                top: 37.5%;
                bottom: 37.5%;

                left: 17.5%;
                right: 17.5%;
            }
        }

        &.away {
            // cheating to allow the dark side of the moon to overflow slightly
            clip-path: circle(0.45em at center);

            background-color: gold;

            .ln-light-theme & {
                background-color: yellow;
            }

            // cover up part of the circle to make a moon shape
            &::after {
                content: "";
                //top: 0;
                //left: 0;
                //bottom: 32.5%;
                //right: 32.5%;
                //border-radius: 50% 35% 50% 32.5%;

                top: -0.045em;
                left: -0.075em;
                border-radius: 50% 50% 50% 50%;
                width: 0.5em;
                height: 0.5em;
            }
        }

        &.offline {
            background-color: gray;
        }
    }
}
