@import "lib/variables";

.ln-party-header {
    //position: relative;
    width: 100%;
    background-color: $lnx-primary-surface-color;
    padding: 0.5em;
    padding-inline-start: calc(5% + 7px); // based off channel list
    text-align: center;
    flex-shrink: 0;
    //z-index: 1;
    //box-shadow: 0 0.2em 0.2em -0.2em black;
    border-bottom: 2px solid $lnx-secondary-surface-color;
    height: 3em;
    max-height: 3em;

    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    user-select: none;

    &.active,
    &:hover {
        background-color: $lnx-tertiary-surface-color;
    }

    position: relative;
    .ln-context-anchor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .ln-icon {
        margin: auto 0.5em;
        font-size: 1.4em;
        text-align: end;
        flex: 1 0 auto;
    }

    &__name {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;

        span {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
