@use "sass:math";

@import "lib/math.scss";
@import "lib/variables.scss";

.ln-form {
    color: $lnx-primary-text-color;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #title {
        text-align: center;
        padding: 1em;
    }

    hr {
        border-color: black;
        width: 100%;
    }

    input,
    select {
        border: 1px solid #111;

        .ln-light-theme & {
            border-color: #aaa;
        }
    }

    input {
        outline: none;

        max-width: 100%;
        padding: 0.8em 1em;
        width: 100%;
        border-radius: $control-border-radius;
        background-color: $lnx-tertiary-surface-color;
        color: $lnx-primary-text-color;

        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-primary-text-color;
        }
    }
}

.ln-form-inner {
    flex: 1 auto;
}

.ln-form-label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.ln-form-group {
    margin: 0.5em 1em;
}

.ln-form-control-wrapper {
    display: flex;

    &::before {
        position: absolute;
        font-size: 1.5em;
        line-height: 25%;
        bottom: 50%;
        transform: scale(2, 1);

        .ln-ltr & {
            left: -0.75em;
            @media (max-width: 49em) {
                left: -4%;
            }
        }

        .ln-rtl & {
            right: -0.75em;
            @media (max-width: 49em) {
                right: -4%;
            }
        }
    }

    &:focus,
    &:focus-within,
    &:active {
        &::before {
            content: "〉";
        }
    }

    &.ln-error::before {
        color: $lnx-failure-color;
    }

    &.ln-success::before {
        color: $lnx-success-color;
    }
}

.ln-form-control {
    .ln-error & {
        border-color: $lnx-failure-color;

        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-failure-color;
        }
        //border-style: solid;
        //box-shadow: inset 0 0 0.2em $lnx-failure-color;
    }

    .ln-success & {
        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-success-color;
            //border-style: solid;
            //box-shadow: inset 0 0 0.2em $lnx-success-color;
        }
    }
}

.ln-form-text {
    color: $lnx-secondary-text-color;
    font-size: 0.7em;
    margin: 1em 1em 0 1em;

    .ln-form-control-wrapper ~ & {
        margin-top: 0.25em; // overrides the 1em above
    }
}

$btn-scale: 1.1;

.ln-btn {
    color: $lnx-primary-text-color;
    display: inline-block;
    line-height: 1;
    height: 100%;
    font-size: #{$btn-scale * 1em};
    padding: golden_ratio(math.div(1, $btn-scale), em);
    background-color: $ln-info-btn-color;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0 0 #{math.div(0.2em, $btn-scale)} black;
    border-radius: #{math.div(0.5em, $btn-scale)};
    position: relative;
    transition: background-color $lnx-transition-timing ease;
    white-space: nowrap;
    height: 3em;

    &--loading-icon {
        padding: golden_ratio(math.div(0.5, $btn-scale), em);
        padding-inline-start: golden_ratio_other(math.div(1, $btn-scale), em);
        padding-inline-end: golden_ratio_other(math.div(1, $btn-scale), em);
    }

    .ln-light-theme & {
        background-color: change-color($ln-info-btn-color, $lightness: 100% - lightness($ln-info-btn-color));
    }

    &:hover,
    &:active {
        text-decoration: underline;
        background-color: $ln-info-btn-hover;

        .ln-light-theme & {
            background-color: change-color($ln-info-btn-hover, $lightness: 100% - lightness($ln-info-btn-hover));
        }
    }

    &:active,
    &:focus,
    &:focus-visible {
        outline: none;
        border-color: $ln-info-btn-activ;

        .ln-light-theme & {
            border-color: change-color($ln-info-btn-activ, $lightness: 100% - lightness($ln-info-btn-color));
        }
    }
}

.ln-select-group {
    display: flex;
    width: 100%;
}

.ln-form-select-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .ln-form-group & {
        margin-inline-end: 1em;

        &:last-child {
            margin-inline-end: 0;
        }
    }
}

select.ln-form-select {
    display: inline-block;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    //height: 100%;
    padding: golden_ratio(0.8, em);
    padding-inline-start: 0.6em;
    text-align: center;
    padding-inline-end: 3em;
    background: $lnx-tertiary-surface-color;
    color: $lnx-primary-text-color;
    outline: none;
    height: 100%; // ensures the select element is the same height as container, and same size as custom arrows

    border-radius: $control-border-radius;

    &:focus,
    &:active,
    &:focus-within {
        border-color: $lnx-primary-text-color;

        ~ .ln-form-select-arrow {
            border-color: $lnx-primary-text-color;
        }
    }

    &:required:invalid {
        color: $lnx-secondary-text-color;
    }

    option {
        color: $lnx-primary-text-color;
        text-align: center;
    }
}

$ptr-size: 0.4em;

.ln-form-select-arrow {
    display: block;
    background: $lnx-primary-surface-color;
    border: 1px solid #111;

    .ln-light-theme & {
        border-color: #aaa;
    }

    border-left: none;
    position: absolute;
    height: 100%;
    width: 2em;
    top: 0;
    right: 0;
    pointer-events: none;

    border-top-right-radius: $control-border-radius;
    border-bottom-right-radius: $control-border-radius;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: $ptr-size solid transparent;
        border-right: $ptr-size solid transparent;

        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        border-bottom: $ptr-size solid $lnx-primary-text-color;
        top: 32%;
    }

    &::after {
        border-top: $ptr-size solid $lnx-primary-text-color;
        top: 68%;
    }
}
