.ln-inf-scroll {
    &__container {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 1;
        padding: 0;
        line-height: normal;

        overflow-anchor: none;
        overflow-y: scroll;

        // try optimize scrolling animations
        will-change: scroll-position;

        -webkit-overflow-scrolling: touch;

        //scrollbar-width: none;
        //&::-webkit-scrollbar {
        //    display: none;
        //}
    }

    &__wrapper {
        display: flex;
        overflow-anchor: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        min-height: 100%;
    }
}
