div#ln-modal-root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.4);

    &:empty {
        display: none;
    }

    > * {
        z-index: 500;
    }

    div {
        margin: auto auto;
    }
}
