@import "lib/variables";

$timing: 0.15s;

.ln-lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;

    contain: paint;
    overflow: hidden;

    touch-action: none;

    &__mobile-controls {
        @media (min-width: $ln-min-channel-width) {
            display: none;
        }

        position: absolute;
        right: -0.25rem;
        top: -0.25rem;
        display: flex;

        border-bottom-left-radius: 1rem;

        > div {
            //padding: 1rem;

            &:first-child {
                margin-right: -1em;
            }

            .ln-glyphicon {
                font-size: 4rem;
            }
        }
    }

    &__footer,
    &__mobile-controls {
        z-index: 1; // ensure on top of image

        background-color: rgba(0, 0, 0, 0.6);

        .ln-light-mode & {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &__footer {
        text-align: center;
        padding: 0.5em 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: normal;
        color: #ddd;
        cursor: auto;

        > span {
            display: flex;
            justify-content: center;

            @media (max-width: $ln-max-channel-width) {
                font-size: 3.5vw;
                justify-content: left;
            }
        }
    }

    &-zoom {
        position: absolute;
        right: 1.5em;
    }

    &-title {
        max-width: 35vw; // TODO: Fix this, not ideal
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }

    &__controls {
        position: absolute;
        font-size: 3em;

        @media (hover: none) and (pointer: coarse) {
            display: none;
        }

        #rotate-cl svg {
            transform: scaleX(-1);
        }
    }

    &__container {
        max-height: 100%;
        max-width: 100%;
        min-height: 0;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        flex: 1;
        //flex-basis: 90%;

        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        user-select: none;

        img {
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform-origin: 50% 50%;
            background: transparent;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            flex-shrink: 1;
            min-height: 0;
            overflow: hidden;
            min-width: 0;
            cursor: grab;
            backface-visibility: hidden;
            user-select: none;
            transform-style: preserve-3d;
            object-fit: contain;
            z-index: 1;
            //image-rendering: optimizeQuality;

            //-webkit-perspective: 1000;

            // removes scale blur in chrome
            filter: none;
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -ms-filter: blur(0px);

            //will-change: transform;
            //will-change: transform, transition;
        }

        .ln-enable-motion & {
            animation: img_enter $timing ease-out;
        }

        .ln-enable-motion .closing & {
            animation: img_exit $timing ease-out forwards;
        }
    }

    .ln-enable-motion & {
        animation: img_fade_in $timing ease-in;

        &.closing {
            animation: img_fade_out $timing ease-in forwards;
        }
    }
}

@keyframes img_enter {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes img_exit {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes img_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes img_fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ln-enable-motion.ln-lightbox-open .ln-main {
    animation: blur_in $timing ease-out forwards;
}

.ln-enable-motion.ln-lightbox-closing .ln-main {
    animation: blur-out $timing ease-in forwards;
}

$blur_amt: 6px;

@keyframes blur_in {
    from {
        filter: blur(0);
    }
    to {
        filter: blur($blur_amt);
    }
}

@keyframes blur_out {
    from {
        filter: blur($blur_amt);
    }
    to {
        filter: blur(0);
    }
}
