@use "sass:math";

@import "lib/variables";

@function gen_temp_gradient($stops, $dir) {
    $gradient: ($dir, #000 0%);

    @for $i from 0 through $stops {
        $t: math.div($i, $stops);
        $temp: (1 - $t) * 965 + $t * 12000;
        $color: kelvin2($temp);
        $stop: $t * 100%;
        $gradient: append($gradient, $color #{$stop});
    }

    @return $gradient;
}

.ln-theme-widget {
    display: flex;
    position: absolute;
    top: 1em;

    inset-inline-start: 1em; // left

    background-color: $lnx-secondary-surface-color;
    border-radius: 1em;
    padding: 0.2em;
    z-index: 100;
    height: 2.9em;

    * {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .ln-enable-motion & {
        transition: width 500ms ease-in;
    }

    &::before,
    &::after {
        opacity: 0;
        border-radius: 1em;
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: opacity 1s ease-in;
    }

    &::before {
        box-shadow: 0 0.05em 0.8em black;
        .ln-dark-theme & {
            opacity: 1;
        }
    }

    &::after {
        box-shadow: 0 0.05em 0.4em #aaa;
        .ln-light-theme & {
            opacity: 1;
        }
    }

    &__icon {
        display: block;
        font-size: 2.5em;
        cursor: pointer;
        fill: $lnx-primary-text-color;
    }

    &__options {
        position: relative;
        width: 0;
        padding: 0;

        transition: all 0.1s ease-in !important;
    }

    &:hover &__options {
        padding: 0 0.4em;
        width: min(15em, 50vw);
    }

    &__slider {
        height: 100%;
    }

    input[type="range"].ln-slider {
        -webkit-appearance: none;
        appearance: none;
        height: 100%;
        width: 100%;
        margin: 0;
        outline: none;
        border-radius: 0.3em;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        .ln-ltr & {
            background: linear-gradient(#{gen_temp_gradient(20, to right)});
        }

        .ln-rtl & {
            background: linear-gradient(#{gen_temp_gradient(20, to left)});
        }

        @mixin thumb() {
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            max-width: 0.4em;
            height: 3em;
            height: 100%;
            background: linear-gradient(to right, transparent 0%, #000 40%, #000 60%, transparent 100%);
            //background: black;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 0;
        }

        &::-webkit-slider-runnable-track {
            height: 100%;
            pointer-events: none;
        }

        &::-webkit-slider-thumb {
            @include thumb();
        }

        &::-moz-range-thumb {
            @include thumb();
        }
    }
}
