@import "lib/math.scss";
@import "lib/variables.scss";

//.ln-register {
//    contain: paint;
//}

.ln-form-control-wrapper {
    position: relative;

    &.ln-password-none::after,
    &.ln-password-weak::after,
    &.ln-password-mid::after,
    &.ln-password-strong::after,
    &.ln-password-vstrong::after {
        content: "";
        inset: 0 0 auto 0;
        bottom: 100%;
        position: absolute;
        width: 0;
        height: 5px;
        background-color: red;
        border-top-left-radius: $control-border-radius * 0.7;
        pointer-events: none;

        .ln-enable-motion & {
            transition-property: width, background-color;
            transition-timing-function: ease-in;
            transition-duration: 0.25s;
        }
    }

    &.ln-password-weak::after {
        width: 25%;
        //background-color: red;
    }

    &.ln-password-mid::after {
        width: 50%;
        background-color: orange;
    }

    &.ln-password-strong::after {
        width: 75%;
        background-color: green;
    }

    &.ln-password-vstrong::after {
        width: 100%;
        background-color: lime;

        border-top-right-radius: $control-border-radius * 0.7;
    }
}

.ln-form-group#hcaptcha {
    text-align: center;
}

// hcaptcha overlay shouldn't affect background
body > div:not([aria-hidden="true"]):nth-of-type(3) > div:nth-child(2) {
    opacity: 0 !important;
}

//.ln-register {
//    @media (max-width: 49em) {
//        display: block;
//    }
//}
