@import "lib/math.scss";
@import "lib/variables.scss";

//.ln-register {
//    contain: paint;
//}

.ln-register-container {
    flex-wrap: wrap;
    display: flex;
    border-radius: 1em;
    padding: 0 2em 2em 2em;
    box-shadow: -0.1em 0 0.8em black;
    background-color: $lnx-secondary-surface-color;
}

.ln-form-control-wrapper {
    position: relative;

    &.ln-password-none::after,
    &.ln-password-weak::after,
    &.ln-password-mid::after,
    &.ln-password-strong::after,
    &.ln-password-vstrong::after {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
        position: absolute;
        width: 0;
        height: 5px;
        background-color: red;
        border-top-left-radius: $control-border-radius;

        .ln-enable-motion & {
            transition-property: width, background-color;
            transition-timing-function: ease-in;
            transition-duration: 0.25s;
        }
    }

    &.ln-password-weak::after {
        width: 25%;
        //background-color: red;
    }

    &.ln-password-mid::after {
        width: 50%;
        background-color: orange;
    }

    &.ln-password-strong::after {
        width: 75%;
        background-color: green;
    }

    &.ln-password-vstrong::after {
        width: 100%;
        background-color: lime;

        border-top-right-radius: $control-border-radius;
    }
}

//.ln-register {
//    @media (max-width: 49em) {
//        display: block;
//    }
//}

.ln-logo {
    contain: layout;
    pointer-events: none;
    width: 15em;
    align-items: center;
    display: flex;
    //flex: 1;

    @media (max-width: 49em) {
        display: none;
    }

    img {
        padding: 2em;
        width: 100%;

        filter: drop-shadow(0 0 0.6em rgba(0, 0, 0, 0.7));
    }

    &::before {
        content: "";
        width: 15em;
        height: 50%;
        position: absolute;
        z-index: 2;
        background: radial-gradient(
                14em circle,
                rgba(252, 217, 142, 0.7) 0%,
                rgba(109, 104, 63, 0.5) 24%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 100%
            )
            no-repeat;

        .ln-enable-motion & {
            animation: pulse_flame 60s infinite alternate;

            @media (prefers-reduced-motion) {
                animation: none;
                transform: translateY(4.5em);
            }
        }
    }
}

@keyframes pulse_flame {
    @for $i from 0 through 100 {
        $rng: 1 - random() * 0.2;
        $a: random() * $TWO_PI;
        $scale: $rng + 0.4;

        $s: sin($a) * 3;
        $c: cos($a) * 3;

        #{$i}% {
            transform: translateY(4.5em) scale($scale) translateY(#{$s}px) translateX(#{$c}px);
            opacity: $rng;
        }
    }
}
