@use "sass:math";

@import "lib/variables";

@function gen_temp_gradient($stops) {
    $gradient: (to right, #000 0%);

    @for $i from 0 through $stops {
        $t: math.div($i, $stops);
        $temp: (1 - $t) * 965 + $t * 12000;
        $color: kelvin2($temp);
        $stop: $t * 100%;
        $gradient: append($gradient, $color #{$stop});
    }

    @return $gradient;
}

.ln-settings {
    //&-theme {
    //}

    input,
    select {
        border: 1px solid $lnx-secondary-surface-color;
    }

    input {
        outline: none;

        &:focus,
        &:active,
        &:focus-within {
            border-color: #111;
        }
    }

    select {
        ~ .ln-form-select-arrow {
            border-color: $lnx-secondary-surface-color;
        }

        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-primary-surface-color;

            ~ .ln-form-select-arrow {
                border-color: $lnx-primary-surface-color;
            }
        }
    }

    &-temperature {
        height: 3.5rem;
        max-width: 35rem;
        display: flex;
        flex-direction: column;
    }

    &-view {
        &__selector {
            width: 20rem;
        }
    }

    &-font {
        max-width: 35em;

        //&__wrapper {
        //    display: flex;
        //    flex-wrap: wrap;
        //    width: 100%;
        //}

        &__selector {
            width: 100%;
            //padding-right: 1rem;
        }

        &__example {
            padding-top: 1em;
        }
    }

    &-pad {
        width: 100%;
        max-width: 35em;

        > div {
            padding: 1em;
        }

        input[type="range"] {
            position: absolute;
            z-index: 1; // put on top of lines

            height: 100%;
            width: 100%;

            appearance: none;
            background: transparent;
            margin: 0;
            border: none;

            @mixin thumb() {
                box-shadow: none;
                -webkit-appearance: none;
                appearance: none;

                cursor: pointer;
                outline: none;
                border: none;

                background: white;
                width: 12px;
                height: 24px;
                border-radius: 25%;

                .ln-light-theme & {
                    background: hsl(240, 70%, 70%);
                }
            }

            &::-moz-range-thumb {
                @include thumb();
            }

            &::-webkit-slider-thumb {
                @include thumb();
            }
        }

        &__input {
            height: 1em;
            position: relative;
            // there seems to be like 1 pixel between the sides that makes this offset by 0.5
            left: -5.5px;
            width: calc(100% + 12px);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(128, 128, 128, 0.4);
                border: 1px solid $lnx-secondary-surface-color;
                border-radius: 0.25em;
            }
        }

        &__steps {
            position: relative;
            width: 100%;
            height: 1em;

            > span {
                position: absolute;
                top: 0.5em;
                bottom: 0;
                width: 3em;
                text-align: center;

                $sizes: 0, 12, 16, 24, 32;

                &:first-child {
                    right: calc(100% - 1.5em);
                }

                @for $i from 2 through length($sizes) {
                    $s: nth($sizes, $i);

                    &:nth-child(#{$i}) {
                        $p: math.div($s, 32) * 100%;
                        left: calc(#{$p} - 1.5em);
                    }
                }

                &::before {
                    content: "";
                    top: -2em;
                    bottom: 0.5em;
                    position: absolute;
                    border-left: 1px solid $lnx-primary-text-color;
                    //height: 2em;
                    left: 50%;
                }
            }
        }
    }
}

.ln-theme-temp-slider {
    height: 100%;

    input[type="range"].ln-slider {
        -webkit-appearance: none;
        appearance: none;
        height: 100%;
        width: 100%;
        margin: 0;
        outline: none;
        border-radius: 0.3em;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        $kelvin_gradient: gen_temp_gradient(20);

        //@debug $kelvin_gradient;

        background: linear-gradient($kelvin_gradient);

        @mixin thumb() {
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            max-width: 0.4em;
            height: 3em;
            height: 100%;
            background: linear-gradient(to right, transparent 0%, #000 40%, #000 60%, transparent 100%);
            //background: black;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 0;
        }

        &::-webkit-slider-runnable-track {
            height: 100%;
            pointer-events: none;
        }

        &::-webkit-slider-thumb {
            @include thumb();
        }

        &::-moz-range-thumb {
            @include thumb();
        }
    }
}
