@import "lib/variables";

.ln-settings-profile {
    .avatar-box .ln-avatar__image {
        object-fit: cover;
    }

    form {
        // using inline-flex allows it to stay shrunk to the left when on one line
        display: inline-flex;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }

    &__confirm {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.2);

        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--ln-tertiary-surface-color);
            padding: 2em;
            border-radius: 2em;
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
            border: 1px solid $lnx-secondary-surface-color;
        }

        .ui-text {
            font-size: min(2rem, 5vw);
        }

        .profile-submit {
            margin-block-start: 1em;
            display: flex;
            justify-content: space-around;
            //width: min(100vw, 30em);
            max-width: 70vw;
            flex-wrap: wrap;

            @media (max-width: $ln-max-channel-width) {
                flex-direction: column;
            }
        }

        .ln-btn {
            margin-block-start: 1em;
            margin-inline: 1em;
            flex: 1 1 auto;
        }
    }

    .profile-submit {
        display: flex;
        justify-content: space-around;
    }

    &__inner {
        width: min(80vw, 25em);
        padding-inline: min(2em, 2vw);
        padding-block-end: 2em;

        h4 {
            text-align: center;
        }
    }

    &__user-card {
        padding-block-end: 2em;
    }

    input[type="file"] {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .avatar-cover,
    .banner-cover {
        position: absolute;
        inset: 0;
        opacity: 0;

        &:hover {
            opacity: 1;
            background-color: rgba(64, 64, 64, 0.7);

            .ln-light-theme & {
                background-color: rgba(192, 192, 192, 0.7);
            }
        }

        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .remove-buttons {
        position: absolute;

        font-size: 0.7rem;
        bottom: -2.5em;
        left: 0;
        right: 0;
        display: flex;
        justify-content: right;

        > div {
            padding: 0.5em;
            margin-inline-end: 0.5em;
            border-radius: 1em;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            border: 1px solid $lnx-secondary-surface-color;
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);

            background-color: rgba(96, 96, 96, 0.5);

            .ln-light-theme & {
                background-color: rgba(192, 192, 192, 0.5);
            }

            &:hover {
                background-color: rgba(196, 64, 64, 0.5);
                text-decoration: underline;
            }
        }
    }

    .section-header {
        text-align: center;
        flex-basis: 100%;
    }

    .profile-textarea {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        color: $lnx-primary-text-color;
        background-color: rgba(128, 128, 128, 0.5);

        .ln-light-theme &,
        .ln-oled-theme & {
            background-color: rgba(128, 128, 128, 0.2);
        }

        margin-block: 1em;
        border-radius: 0.5rem;

        textarea {
            tab-size: $lnx-chat-tabsize;
            margin: 0.25em;
            color: $lnx-primary-text-color;
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: inherit;
            font-family: inherit;
            caret-color: $lnx-primary-text-color;
        }
    }

    label[for="avatar_roundness"] {
        width: 2.5em;
        display: inline-block;
    }
}

.roundness-setting {
    > div {
        position: relative;
        &::after {
            content: var(--avatar-roundness-formatted, "");
            position: absolute;
            width: 2rem;
            height: 2rem;
            left: calc(2 * var(--avatar-roundness, 50%));
            font-size: 0.75em;
            touch-action: none;

            pointer-events: none;
            user-select: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-left: calc(-2rem * var(--avatar-roundness-raw));
            z-index: 1;

            color: #333;

            .ln-light-theme & {
                color: #eee;
            }
        }
    }

    input[type="range"] {
        appearance: none;
        background: rgba(128, 128, 128, 0.5);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(128, 128, 128, 0.5) 50%, rgba(0, 0, 0, 0) 100%);

        margin: 0;
        border: none;
        cursor: pointer;
        height: 100%;
        user-select: none;

        @mixin thumb() {
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;

            cursor: pointer;
            outline: none;
            border: none;

            background: $lnx-primary-text-color;
            width: 2rem;
            height: 2rem;
            border-radius: var(--avatar-roundness, 50%);

            .ln-light-theme & {
                background: $lnx-secondary-text-color;
            }

            &:active {
                cursor: grabbing;
            }
        }

        &::-moz-range-thumb {
            @include thumb();
        }

        &::-webkit-slider-thumb {
            @include thumb();
        }
    }

    position: relative;
    max-width: 25em;
    margin-block: 1em;
    height: 2rem;
    user-select: none;

    border: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: absolute;
        inset: 0;
        outline: none;
        border: none;
    }

    .squircle {
        position: absolute;
        inset: 0 auto;

        fill: none;
        stroke: $lnx-primary-text-color;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        overflow: visible;
        display: inline-block;
        cursor: pointer;

        user-select: none;

        * {
            user-select: none;
        }

        &:hover {
            fill: rgba(128, 128, 128, 0.25);
        }

        &:active {
            fill: rgba(128, 128, 128, 0.75);
        }
    }
}
