@import "lib/variables";

.ln-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.4);

    > .ln-modal__inner {
        position: relative;
        margin: auto auto;
        padding: 2rem;
        background-color: $lnx-tertiary-surface-color;
        border-radius: 1rem;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        font-size: 2rem;
        cursor: pointer;
        fill: $lnx-primary-text-color;

        &:hover {
            fill: $lnx-secondary-text-color;
        }
    }
}
