@import "lib/variables";

.ln-generic-modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;

    &__inner {
        position: relative;
        margin: auto auto;
        padding: 2rem 2rem 0 2rem;
        background-color: $lnx-tertiary-surface-color;
        border-radius: 1rem;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        font-size: 2rem;
        cursor: pointer;
        fill: $lnx-primary-text-color;

        &:hover {
            fill: $lnx-secondary-text-color;
        }
    }
}
