@import "lib/variables";

@keyframes generic_modal_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes generic_modal_close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ln-generic-modal {
    display: flex;

    .ln-enable-motion & {
        animation: 0.1s generic_modal_open ease-in forwards;

        &.closing {
            animation: 0.1s generic_modal_close ease-in both;
        }
    }

    &__inner {
        position: relative;
        margin: auto auto;
        padding: 1rem 2rem;
        //padding: 1.5rem 2.5rem 1.5rem 1.5rem;
        border-radius: 1rem;
        background-color: $lnx-primary-surface-color;

        // mobile view
        @media (max-width: $ln-max-room-width) {
            border-radius: 0;
            padding: 1rem 0;
            margin: 0;
            width: 100%;
        }
    }

    &.dim {
        background-color: rgba(0, 0, 0, 0.5);

        &__inner {
            background-color: $lnx-tertiary-surface-color;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        font-size: 2rem;
        cursor: pointer;
        fill: $lnx-primary-text-color;

        &:hover {
            fill: $lnx-secondary-text-color;
        }
    }
}
