@import "lib/variables";

.ln-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    background-color: $lnx-tertiary-surface-color;

    font-size: var(--ln-ui-font-size, 1rem);
}

.ui-text {
    // TODO: Fix line height in context menu?
    //line-height: normal;
    font-size: 1em;
    //font-size: var(--ln-ui-font-size-adjust, 1em);
    font-size: calc(1em / var(--ln-ui-font-size-adjust, 1));
    font-family: $lnx-ui-font-family;
    tab-size: 4;
}

.chat-text {
    //font-size: 10.5pt;
    font-family: $lnx-chat-font-family;
    font-size: 0.875em;
    font-size: calc(0.875em * var(--ln-chat-font-size-adjust, 1));
    line-height: calc(1.2 / var(--ln-chat-font-size-adjust, 1));
    tab-size: $lnx-chat-tabsize;
}
