@import "lib/variables";

@keyframes skeleton {
    from {
        opacity: 40%;
    }

    to {
        opacity: 80%;
    }
}

.ln-avatar {
    display: inline-block;
    position: relative;

    * {
        user-select: none;
    }

    &__wrapper {
        cursor: pointer;
    }

    //line-height: 1;

    &__skel {
        width: 100%;
        height: 100%;
        background-color: grey;
        animation: skeleton 1s linear infinite alternate;
        position: absolute;
        border-radius: 50%;
        z-index: -1;
    }

    &__image,
    &__text {
        border: none;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
        margin: auto;
        vertical-align: bottom;
    }

    &--rounded {
        border-radius: 50%;
    }

    &__text {
        font-family: Arial, sans-serif;
        text-align: center;
        line-height: normal;

        .ln-icon {
            width: 100%;
            font-size: 1.2em;
        }

        .ln-oled-theme & {
            border: 1px solid $ln-oled-border-color;
        }
    }
}
