@import "lib/variables";

.ln-avatar {
    display: inline;

    * {
        user-select: none;
    }

    &__wrapper {
        display: flex;
        cursor: pointer;
    }

    &__image,
    &__text {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 1.5em;
        height: 1.5em;
        margin: auto;

        &--rounded {
            border-radius: 50%;
        }
    }

    &__text {
        line-height: 1;
        font-family: sans-serif;
        text-align: center;
    }
}
