.emoji {
    width: 1em;
    height: 1em;
    cursor: default;
    vertical-align: text-bottom;

    &.large {
        font-size: 3em;
    }

    img,
    svg {
        outline: none;
    }

    svg {
        width: 1em;
        height: 1em;
    }

    .ln-enhanced-contrast & {
        filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
    }
}
