@import "lib/variables.scss";

.ln-glyphicon {
    position: relative;
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: top;

    &__wrapper {
        //position: absolute;
        //display: inline-block;
        //vertical-align: middle;
        //height: 1em;
        fill: $lnx-primary-text-color;

        svg {
            height: 100%;
        }

        display: inline-flex;
        height: 1em;
    }
}
