@import "lib/variables";

.ln-hamburger {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid $lnx-primary-text-color;
    border-bottom: 0.2em solid $lnx-primary-text-color;
    box-sizing: content-box;

    &::before {
        content: "";
        position: absolute;
        top: 0.3em;
        left: 0px;
        width: 100%;
        //border-top: 0.2em solid $lnx-primary-text-color;
        background-color: $lnx-primary-text-color;
        height: 0.2em;
    }
}
