@import "lib/variables.scss";

body {
    fill: $lnx-primary-text-color;
}

.ln-icon {
    //position: relative;
    height: 1em;
    width: 1em;
    display: inline-block;
    vertical-align: top;

    &__wrapper {
        //position: absolute;
        //display: inline-block;
        //vertical-align: middle;
        //height: 1em;
        //fill: $lnx-primary-text-color;

        .ln-rtl & {
            transform: scaleX(-1);
        }

        display: inline-flex;
    }

    svg {
        overflow: visible;
        appearance: none;
        border: none;
        height: 1em;
        width: 1em;
    }
}

symbol {
    overflow: visible;
}
