@import "lib/variables";

.ln-inf-scroll__container.has-timeline,
.ln-feed-footers.has-timeline {
    margin-inline-end: 2rem;
}

.ln-msg-list {
    &__flex-container {
        flex: 1;
        position: relative;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: transparent;

        &::after {
            // ensures it blocks hover stuff
            content: "";
        }
    }

    &__group {
        //padding: 0.5em 0;
        //display: flex;
        //flex-direction: column;

        padding: var(--ln-chat-group-padding, 0.15em) 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        //.compact & {
        //    margin-top: 0;
        //}

        .group-lines &:not(:first-child) {
            border-top: calc(1em / 16) solid rgba(128, 128, 128, 0.1);
            margin-top: calc(-1em / 16);
        }
    }

    &__timeline {
        position: absolute;
        top: 0;
        width: 2rem;
        bottom: 0;

        .ln-ltr & {
            right: 0;
        }
        .ln-rtl & {
            left: 0;
        }
    }

    li:last-child {
        margin-bottom: 1em;

        //@media (max-width: $ln-max-channel-width) {
        //    margin-bottom: 1.5em;
        //}
    }

    > hr {
        border: none;

        margin: var(--ln-chat-group-padding, 0.15em) 0;
    }

    .group-lines & > hr {
        border-top: calc(1em / 16) solid rgb(128, 128, 128, 0.15);
    }

    //padding-top: 1em;
}

.ln-feed-footers {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;
    margin-inline-start: calc(1rem - 2.5px); // same as margin for input box, which is offset by 2.5px for the border
}

.ln-feed-footer {
    display: flex;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 0.5em;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: 0.5rem;
    }

    #goto-now {
        text-align: end;
        flex: 1;

        .ln-icon {
            vertical-align: middle;
        }
    }
}

// mobile-view goto button
@media (max-width: $ln-max-channel-width) {
    #goto-now {
        display: flex;
        justify-content: center;

        position: absolute;
        font-size: 6vw; // scale with screen
        right: 1em;
        bottom: 1em;
        width: 2.5em;
        height: 2.5em;

        border-radius: 50%;
        background-color: $lnx-secondary-surface-color;

        cursor: pointer;

        .ln-icon {
            margin: auto 0;
            font-size: 1.5em;
            display: inline-flex; // fix alignment issues
            padding-top: 0.035em;

            //position: relative;
            //top: 0.035em; // TODO: Improve this somehow
        }

        .ln-oled-theme & {
            border: 1px solid #222;
        }
    }
}
