@import "lib/variables";

.ln-inf-scroll__container.has-timeline,
.ln-feed-footers.has-timeline {
    margin-right: 2rem;
}

.ln-msg-list {
    &__flex-container {
        flex: 1;
        position: relative;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: transparent;

        &::after {
            // ensures it blocks hover stuff
            content: "";
        }
    }

    &__group {
        //padding: 0.5em 0;
        //display: flex;
        //flex-direction: column;

        padding: var(--ln-chat-group-padding, 0.15em) 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        //.compact & {
        //    margin-top: 0;
        //}

        .group-lines &:not(:first-child) {
            border-top: calc(1em / 16) solid rgba(128, 128, 128, 0.1);
            margin-top: calc(-1em / 16);
        }
    }

    &__timeline {
        position: absolute;
        top: 0;
        width: 2rem;
        right: 0;
        bottom: 0;
    }

    li:last-child {
        margin-bottom: 1em;

        //@media (max-width: $ln-max-channel-width) {
        //    margin-bottom: 1.5em;
        //}
    }

    //padding-top: 1em;
}

.ln-feed-footers {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;
    margin-left: calc(1rem - 2.5px); // same as margin for input box, which is offset by 2.5px for the border
}

.ln-feed-footer {
    display: flex;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 0.5em;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: 0.5rem;
    }

    #goto-now {
        text-align: right;
        flex: 1;

        .ln-glyphicon {
            vertical-align: middle;
        }
    }
}

// mobile-view goto button
@media (max-width: $ln-max-channel-width) {
    #goto-now {
        display: flex;
        justify-content: center;

        position: absolute;
        font-size: 6vw; // scale with screen
        right: 1em;
        bottom: 1em;
        width: 2.5em;
        height: 2.5em;

        border-radius: 50%;
        background-color: $lnx-secondary-surface-color;

        cursor: pointer;

        .ln-glyphicon {
            margin: auto 0;
            font-size: 1.5em;
            display: inline-flex; // fix alignment issues
            padding-top: 0.035em;

            //position: relative;
            //top: 0.035em; // TODO: Improve this somehow
        }

        .ln-oled-theme & {
            border: 1px solid #222;
        }
    }
}

.ln-msg {
    white-space: break-spaces;

    .compact & {
        display: inline;
        //text-indent: 0.5em;
        word-wrap: anywhere;
    }

    * {
        text-indent: 0;
    }

    &--compact {
        //text-indent: -1rem;
        //margin-left: 1rem;

        text-indent: -5em;
        margin-left: 4.5em;
        max-width: calc(100% - 4.5em);
        flex: 1 1 auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0.25rem 0;
        position: relative;

        // TODO: Re-evaluate this when removing scrollbar
        margin-right: 0.5em;

        .compact & {
            padding: 0;
            margin-right: 0;
        }
    }

    &__outer {
        &:hover,
        &.highlighted {
            background-color: rgba(0, 0, 0, 0.1);

            .ln-light-theme & {
                background-color: rgba(0, 0, 0, 0.05);
            }

            .ln-msg__sidets {
                opacity: 1;
            }
        }

        &.highlighted.warning {
            background-color: rgb(255, 85, 85, 0.3);
        }

        .compact & {
            &:first-child .ln-msg__sidets {
                opacity: 1;
            }
            .ln-msg__side {
                display: inline-block;
                text-align: center;
            }
        }
    }

    // &__cm {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }

    //&__message {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //}

    &__title {
        // This needs no padding thanks to justify-content: space-between on the message wrapper

        .compact & {
            display: inline-flex;
            text-indent: 0;
            vertical-align: bottom;
        }
    }

    &__username {
        font-size: 1em;
        font-weight: bold;
        display: inline-flex;
        margin-right: 0.5em;
        max-width: 20em;
        cursor: pointer;

        color: white;

        .ln-light-theme & {
            color: black;

            // TODO: Improve this style
            filter: brightness(0.75) saturate(1.7) contrast(1.2);
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: currentColor;
        }

        position: relative;

        .ln-context-anchor {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        span.ui-text {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        //.compact & {
        //    margin-right: 0.75em;
        //}
    }

    &__ts,
    &__sidets {
        cursor: default;
    }

    &__ts {
        font-size: 0.8em;
        color: $lnx-secondary-text-color;
    }

    &__side {
        min-width: 4.025em;
        flex-shrink: 0;
        padding-left: 0.75em;
        position: relative;
        //display: flex;
        display: block;
        //padding-right: 0.6em;
        //text-align: center;

        @media (min-width: $ln-min-channel-width) {
            min-width: 4.425em;
            padding-left: 1em;
            //padding-right: 0.8em;
        }

        .ln-avatar {
            font-size: 1.75em;
            //display: inline;
        }

        .ln-context-anchor {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            z-index: -10;
        }
    }

    //max-width: calc(100% - 4.025em);
    //@media (min-width: $ln-min-channel-width) {
    //    max-width: calc(100% - 4.425em);
    //}

    &__sidets {
        font-size: 0.6em;
        color: $lnx-secondary-text-color;
        opacity: 0;
        //text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        user-select: none;
    }

    &__top {
        text-align: center;
        margin: 1em 0;
        font-size: 1.3em;
        font-size: min(1.5vw, 1.3em);
        border-bottom: 1px solid $lnx-primary-text-color;
        padding-bottom: 1em;

        > div {
            line-height: 2;
        }

        .ln-glyphicon {
            font-size: 2em;
            display: inline-flex;
        }

        @media (max-width: $ln-max-channel-width) {
            font-size: min(4.5vw, 1.3em);
        }
    }

    &__side.ln-system-message {
        display: block;
        text-align: center;

        svg {
            fill: lightgreen;

            .ln-light-theme & {
                fill: green;
            }
        }

        .ln-glyphicon {
            font-size: 1.75em;

            //&__wrapper {
            //    vertical-align: middle;
            //}
        }
    }

    &__message.ln-system-message {
        color: $lnx-secondary-text-color;
        justify-content: center;
    }
}

.ln-separator {
    position: absolute;
    width: 0;
    opacity: 0;
    display: inline-block;
    font-style: normal;
}
