@import "lib/variables";

.ln-channel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;

    &__wrapper {
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    &__feed {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        font-size: var(--ln-chat-font-size, 1rem);
        overflow: hidden;

        //&::before {
        //    content: "";
        //    background-repeat: no-repeat;
        //    background-size: cover;
        //    background-position: 50% 100%;
        //    background-image: url(https://derpicdn.net/img/view/2019/11/10/2191850.png);
        //    position: absolute;
        //    opacity: 0.3;
        //    left: 0;
        //    top: 0;
        //    bottom: 0;
        //    right: 0;
        //}
    }

    &__members {
        flex: 0 1 auto;
        height: 100%;
        width: 14em;

        @media (max-width: $ln-max-channel-width) {
            display: none;
        }

        .ln-oled-theme & {
            border-left: 1px solid $ln-oled-border-color;
        }
    }

    &__banners {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;

        &:not(:empty) {
            box-shadow: 0 0.15em 0.15em $lnx-secondary-surface-color;
        }
    }
}

.ln-banner {
    padding: 0.5em 1em;
    text-align: center;
    line-height: normal;

    background-color: rgba(32, 32, 32, 0.7);

    .ln-light-theme & {
        background-color: rgba(128, 128, 128, 0.7);
    }

    &.error {
        background-color: rgba(64, 0, 0, 0.7);

        .ln-light-theme & {
            background-color: rgba(196, 128, 128, 0.7);
        }
    }
}
