@import "lib/variables";

.ln-channel-header {
    width: 100%;
    padding: 0.5em;
    text-align: center;
    border-bottom: 2px solid $lnx-secondary-surface-color;
    height: 3em;
    max-height: 3em;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    //box-shadow: 0em 0.1rem 0.2em $lnx-primary-surface-color;
    //box-shadow: 0em 0.1rem 0.2em $lnx-secondary-surface-color;
    //z-index: 1;

    .ln-oled-theme & {
        border-bottom: 1px solid $ln-oled-border-color;
    }

    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;

        @media (min-width: $ln-min-channel-width) {
            text-align: start;
        }
    }

    &__hamburger,
    &__users {
        > span {
            display: block;
            padding: 0.25em;
            font-size: 2em;
            cursor: pointer;
        }
    }

    &__users {
        text-align: end;
        flex: 0 1 3em;

        > span {
            padding-inline-end: 0;
        }
    }

    &__hamburger {
        flex: 0 0 auto;
        text-align: start;

        > span {
            padding-inline-start: 0;
        }

        @media (min-width: $ln-min-channel-width) {
            display: none;
        }
    }
}

.ln-vert {
    display: inline-block;
    margin: 0 0.75em;
    width: 0;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.ln-channel-icon {
    font-size: 1.6em;
    margin: auto 0;
    margin-inline-start: 0.1em;
    flex: 0 0 auto;

    @media (max-width: $ln-max-channel-width) {
        margin-inline-end: 0;
    }
}

.ln-channel-info {
    line-height: normal;
    color: $lnx-secondary-text-color;
    text-align: start;

    @media (min-width: $ln-min-channel-width) {
        max-width: calc(97vw - 35.2rem); // 4.2 + 14*2 + 3
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;
        flex: 1 1 auto;
    }

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &__name {
        font-size: 1.1em;
        color: $lnx-primary-text-color;
    }

    &__topic {
        font-size: 0.9em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
