@import "lib/variables";

.ln-contextmenu {
    background-color: $lnx-primary-surface-color;
    border: 1px solid $lnx-secondary-surface-color;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);

    &.dark {
        background-color: $lnx-secondary-surface-color;
        border-color: $lnx-primary-surface-color;
    }

    .ln-oled-theme & {
        border-color: $ln-oled-border-color;
    }

    border-radius: 0.5rem;
    overflow: hidden;
    user-select: none;

    // TODO: Keep this or go back?
    //&::before {
    //    box-shadow: 0.25rem 0.25rem 0.5rem $lnx-primary-surface-color;
    //    mix-blend-mode: darken;
    //    border-radius: 0.5rem;
    //
    //    content: "";
    //    position: absolute;
    //    top: 0;
    //    right: 0;
    //    left: 0;
    //    bottom: 0;
    //    z-index: -1;
    //}
}

.ln-cm-pos {
    .ln-modal-right.ln-modal-top & {
        border-top-right-radius: 0;
    }

    .ln-modal-right.ln-modal-bottom & {
        border-bottom-right-radius: 0;
    }

    .ln-modal-left.ln-modal-top & {
        border-top-left-radius: 0;
    }

    .ln-modal-left.ln-modal-bottom & {
        border-bottom-left-radius: 0;
    }
}

ul.ln-contextmenu {
    li {
        font-size: 0.9rem;
        white-space: nowrap;

        &:hover {
            background-color: rgba(128, 128, 128, 0.2);
        }

        > div {
            padding: 0.8em;
            display: flex;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }

        .ui-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .ln-icon {
            margin-inline-end: 0.5rem;
            font-size: 1.2em;
        }
    }

    hr {
        margin: 0;
        //width: 100%;
        border-color: $lnx-primary-surface-color;
        width: 90%;
        left: 5%;
        position: relative;
        //color: $lnx-secondary-surface-color;
    }

    &.dark hr {
        border-color: $lnx-tertiary-surface-color;
    }
}
