@use "sass:math";

@import "lib/variables";

$CARD_WIDTH: 21em;
$BANNER_ASPECT: math.div(21, 9);
$BANNER_HEIGHT: math.div($CARD_WIDTH, $BANNER_ASPECT);
$SHORT_BANNER_HEIGHT: 4em;
$AVATAR_PADDING: 0.3em;
$AVATAR_HORIZONTAL_SHIFT: 1.25em;

.ln-user-card {
    &.has-avatar {
        .avatar-box {
            bottom: math.div(5em, -2);
            //margin-block-start: calc(math.div($SHORT_BANNER_HEIGHT, 2) - $AVATAR_PADDING);
            margin-inline-start: calc($AVATAR_HORIZONTAL_SHIFT - $AVATAR_PADDING);
            background-color: $lnx-primary-surface-color;
            padding: $AVATAR_PADDING;
        }
    }

    &.has-banner {
        .banner {
            height: $BANNER_HEIGHT;
            aspect-ratio: $BANNER_ASPECT;
        }
    }
}

.ln-user-card {
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 80vw;

    font-size: 15px;
    width: $CARD_WIDTH;

    &.ln-contextmenu {
        width: calc($CARD_WIDTH + 2px);
    }

    hr {
        color: $lnx-tertiary-surface-color;
        border-style: solid;
        margin-block: 0.9em;
    }

    &__header {
        width: 100%;
        position: relative;
    }

    &__info {
        padding-inline: 0.8rem;
        padding-block-end: 0.8rem;
        padding-block-start: 2.5rem;
        font-size: 1rem;
    }

    .banner {
        width: 100%;
        min-height: $SHORT_BANNER_HEIGHT;
        background-size: cover;
        background-position: top;
    }

    .avatar-box {
        position: absolute;
        bottom: math.div(4.5em, -2);

        margin-inline-start: $AVATAR_HORIZONTAL_SHIFT;
    }

    .ln-user-avatar {
        font-size: 3em;

        .ln-user-status {
            font-size: 0.5em;
        }
    }

    .ln-avatar {
        &__wrapper {
            cursor: default;
        }
        &__text {
            box-shadow: -5px -5px $lnx-primary-surface-color;
        }
    }

    .ln-username {
        padding-block: 0.4rem;

        h4,
        span {
            user-select: all;

            .bot-label {
                user-select: none;
            }
        }
    }

    .bot-label {
        vertical-align: top;
    }

    .ln-user-last-active {
        font-size: 0.75em;
        padding-block-start: 0.6rem;
        text-align: right;
        color: $lnx-secondary-text-color;
        position: absolute;
        right: 0.75rem;
        top: 100%;
    }

    .ln-markdown {
        user-select: text;
    }

    .ln-user-custom-status {
        user-select: text;
        display: block;
        padding-block-start: 0.4rem;
    }

    .ln-user-biography {
        &__title {
            font-size: 0.8em;
            font-weight: bold;
            margin-bottom: 1em;
            display: block;
        }
    }

    .ln-user-custom-status,
    .ln-user-biography {
        color: $lnx-secondary-text-color;
    }

    h4 {
        font-weight: bold;
        margin-bottom: 0.3em;
    }
}
