@import "lib/variables";


.ln-user-card {
    display: flex;
    flex-direction: column;
    position: relative;
    .banner{
        width: 300px;
        height: 60px;
        @media (max-width: $ln-min-channel-width) {
            width: 200px;
            height: 40px;
        }
    }
    .ln-avatar{
        position: absolute;
        top: 16.66px;
        left: 20px;
        &__image, &__text{
            width: 75px;
            height: 75px;
            font-size: 25px;
            @media (max-width: $ln-min-channel-width) {
                width: 50px;
                height: 50px;
            }
        }
    }
        
    .ln-username{
        cursor: pointer;
        padding: 3em 0.8em 0.9em 0.8em;
    }
    .ln-user-status{
        display: initial;
        top: 4.5rem;
        left: 4.8rem;
        @media (max-width: $ln-min-channel-width) {
            top: 3.2rem;
            left: 3.5rem;
        }
    }
    b{
        font-weight: bold;
    }
    .ln-user-custom-status{
        display: block;
        padding: 0em 0.8em .5em 0.8em;
    }
    .divider{
        height: 1px;
        background-color: #90a5ee;
    }
    .ln-user-biography{
        padding: 0.7em 0.8em 1em 0.8em;
        .ln-user-biography-title{
            font-size: .8em;
            font-weight: bold;
            margin-bottom: 1em;
            display: block;
        }
    }
    .ui-font{
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: .3em;
    }
}
