@import "lib/variables";

.ln-party-footer {
    width: 100%;
    background-color: $lnx-primary-surface-color;
    padding: 0.5em;
    text-align: center;
    flex-shrink: 0;
    border-top: 2px solid $lnx-secondary-surface-color;
    height: 3em;
    max-height: 3em;
    margin: auto auto;
    display: flex;

    svg {
        fill: $lnx-primary-text-color;
    }

    &__user {
        display: flex;
        //flex-shrink: 0;
        min-width: 0;
        flex: 1;

        .ln-avatar,
        .ln-spinner {
            margin: auto 0;
        }

        .ln-avatar {
            font-size: 1.25em;
        }

        .ln-spinner {
            font-size: 1.75em;
        }
    }

    .ln-username {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: auto 0;
        margin-inline-start: 0.5em;
        overflow: hidden;

        &__discrim {
            color: $lnx-secondary-text-color;
        }

        &__name {
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: normal;
        }
    }

    &__settings {
        //display: flex;
        //justify-content: right;
        text-align: end;
        //width: 100%;
        font-size: 1.75em;

        > * {
            margin: auto 0;
        }

        a,
        > div {
            cursor: pointer;
            display: inline-block;

            &:hover {
                background-color: rgba(128, 128, 128, 0.2);
            }

            border-radius: 20%;
        }

        .ln-enable-motion & > div:hover .ln-icon {
            animation: 0.4s cubic-bezier(0.29, 1.06, 0.56, 1.35) ln-wobble;
        }

        a[href="/settings"]:hover {
            .ln-enable-motion & .ln-icon {
                transition: transform cubic-bezier(0.29, 1.06, 0.56, 1.35) 0.3s;
                transform: rotate(90deg);
            }
        }
    }
}

@keyframes ln-wobble {
    33% {
        transform: rotate(-5deg);
    }
    66% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0);
    }
}
