@import "lib/variables";

details.ln-code-details {
    display: inline-flex;
    max-width: 100%;
}

.hljs {
    display: block;
}

summary {
    cursor: pointer;
}

.hljs,
summary {
    overflow-x: auto;
    padding: 0.5em;
    margin-right: 0.5em;
    -webkit-overflow-scrolling: touch;
    //display: table;

    .compact & {
        padding: 0;
    }
}

.ln-markdown-full {
    p,
    div.p {
        white-space: break-spaces;
    }
}

.ln-markdown {
    // causes scrolling size issues on chrome
    //content-visibility: auto;

    p,
    div.p {
        word-wrap: break-word;

        .compact & {
            display: inline;
            vertical-align: bottom;

            &::after {
                content: "";
                display: block;
                height: 0;
                width: 0;
            }
        }

        // space after paragraphs
        &:not(:last-child) {
            // TODO: Use margin-block-end: 1em; ?
            margin-bottom: 1em;
        }
    }

    br:last-child {
        display: none;
    }

    em {
        font-style: italic;
    }

    //u {
    //    // TODO: Revisit this, Drama Sans has odd behavior with underline, too close
    //    text-decoration: none;
    //    border-bottom: 1px solid $lnx-primary-text-color;
    //    border-bottom: 1px solid currentColor;
    //}

    sub,
    sup {
        font-size: 0.7em;
    }

    sup {
        vertical-align: top;
    }

    sub {
        vertical-align: bottom;
    }

    span.font-arial {
        font-family: Arial, Helvetica, sans-serif;
    }

    span.font-serif {
        font-family: "Times New Roman", Times, serif;
    }

    strong {
        font-weight: 900;
    }

    ul {
        list-style: inside disc;
    }

    ol {
        list-style: inside decimal;
    }

    // nested lists are indented
    li > {
        ul,
        ol {
            padding-left: 1em;
        }
    }

    ul,
    ol {
        ul,
        ol {
            list-style-type: lower-roman;
            ul,
            ol {
                list-style-type: lower-alpha;
            }
        }
    }

    hr {
        border-color: $lnx-primary-text-color;
    }

    h1 {
        font-size: 1.5em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }

    table {
        min-width: 20%;

        th,
        td {
            padding: 0.3em;
        }

        th {
            border-bottom: 1px solid $lnx-primary-surface-color;
        }

        tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    blockquote {
        position: relative;
        padding-left: 1em;
        min-height: 1.5em;
        line-height: normal;
        text-indent: 0;

        &::before {
            content: "";
            position: absolute;
            background-color: $lnx-primary-text-color;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0.1em;
        }
    }

    pre {
        white-space: pre;
        display: inline-flex;
        //width: fit-content;
        min-width: 0;
        width: auto;
        max-width: calc(100% - 0.5em); // same as margin
    }

    pre,
    code {
        font-family: Hasklig, $ln-font-family-monospace;
    }

    pre,
    code,
    .ln-code-details summary {
        // TODO: Figure out light theme background
        background-color: $lnx-primary-surface-color;
        border: 0.125em solid rgba(32, 34, 37, 0.3);
        border-radius: 0.3125em;
    }

    details[open].ln-code-details summary {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;

        ~ pre.hljs {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    code {
        padding: 0.05em 0.2em;
        border: none;
        font-variant-ligatures: normal;
        //* {
        //    word-break: keep-all;
        //    word-wrap: break-word;
        //}
    }

    pre code {
        padding: 0;
        line-height: normal;
        //margin-right: 1em;
    }
}
