@import "lib/variables";

.ln-channel-list {
    font-size: 1em;
    width: 100%;
    height: 100%;

    color: $lnx-secondary-text-color;
    fill: $lnx-secondary-text-color;
    //background-color: $lnx-primary-surface-color;

    li {
        padding: 0.25em 0;
        padding-left: 5%;

        // tiny bit of spacing below rows to add a transparent border
        margin-bottom: 2px;

        &:hover {
            background-color: $lnx-primary-surface-color;
        }

        &:first-child {
            margin-top: 1em;
        }

        &:last-child {
            margin-bottom: 1em;
        }

        &.selected,
        &.selected:hover,
        &.selected:active {
            color: $lnx-primary-text-color;
            background-color: $lnx-tertiary-surface-color;
        }
    }

    a,
    a:hover,
    a:active {
        text-decoration: inherit;
        color: inherit;
    }

    .ln-glyphicon {
        font-size: 1.3em;
        height: 100%;
        right: -0.1em;
        position: relative;
    }

    @include scrollbar($lnx-secondary-text-color, $lnx-primary-surface-color);

    &__icon {
        width: 1.5em;
        text-align: right;
        margin-right: 0.4em;
    }

    &__channel {
        display: flex;
        flex-wrap: nowrap;
        cursor: pointer;
    }

    &__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0.85;

        span {
            height: 1em;
        }
    }

    &__title {
        height: 100%;
    }
}
