@import "lib/variables";

.ln-channel-list {
    font-size: 1em;
    width: 100%;
    padding-top: 1em;
    height: 100%;

    color: $lnx-secondary-text-color;
    fill: $lnx-secondary-text-color;
    background-color: $lnx-primary-surface-color;

    li {
        padding: 0.25em 0;
        padding-left: 5%;

        &:hover {
            background-color: $lnx-tertiary-surface-color;
        }
    }

    .ln-glyphicon {
        font-size: 1.3em;
        height: 100%;
    }

    @include scrollbar($lnx-secondary-text-color, $lnx-primary-surface-color);

    &__icon {
        width: 2em;
        text-align: center;
    }

    &__channel {
        display: flex;
        flex-wrap: nowrap;
    }

    &__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 0.85;

        span {
            height: 1em;
        }
    }

    &__title {
        height: 100%;
    }
}
