@import "lib/variables";

.ln-member-list {
    background-color: $lnx-primary-surface-color;
    height: 100%;

    &__item,
    h4 {
        padding: 0.25em 0.75em;
    }

    .ln-avatar {
        font-size: 1.5em;
    }

    h4 {
        color: $lnx-secondary-text-color;
        margin-top: 1em;
        font-weight: bold;
    }

    > div:last-child {
        margin-bottom: 1em;
    }

    li {
        display: flex;
        flex-wrap: nowrap;
        line-height: normal;
        cursor: pointer;
        border-radius: 0.2em;

        &:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }
    }

    @include scrollbar($lnx-secondary-text-color, $lnx-primary-surface-color);
}

.ln-member {
    &__name {
        font-weight: bold;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: $lnx-secondary-text-color;

        li:hover & {
            color: $lnx-primary-text-color;
        }

        .ln-enhanced-contrast & {
            filter: drop-shadow(0 0 2px black);
        }

        .ln-light-theme.ln-enhanced-contrast & {
            filter: drop-shadow(0 0 1px white);
        }
    }

    &__spacer {
        flex: 1 1 auto;
        max-width: 0.5em;
    }

    &__crown {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        //margin-left: 0.5em;

        .ln-icon {
            display: inline-flex;
        }
    }

    &__meta,
    &__title {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    &__meta {
        overflow: hidden;
        margin-inline-start: 0.5em; // margin-left
        flex-direction: column;
        justify-content: center;
    }

    &__name,
    &__status {
        > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    //&__title {
    //}

    &__status {
        color: $lnx-secondary-text-color;
        font-size: 0.8em;
        display: inline-flex;
    }
}
