@import "lib/variables";

@keyframes close_sidebar {
    0% {
        width: 100% !important;
    }
    100% {
        width: 0 !important;
    }
}

.ln-party {
    background-color: $lnx-secondary-surface-color;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-basis: 100%;

    &__user-list {
        @media (max-width: $ln-min-channel-width) {
            max-width: calc(70vw);
            position: absolute;
            right: 0;
        }
    }

    &__sidebar {
        @media (max-width: $ln-min-channel-width) {
            max-width: calc(86vw - 4.2em);
        }
    }

    &__sidebar,
    &__user-list {
        @media (min-width: $ln-min-channel-width) {
            width: 14em;
            flex: 0 0 auto;
        }
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 0;

        opacity: 1;

        .ln-enable-motion & {
            transition: opacity 0.2s ease-in;
        }

        &--closed {
            touch-action: none;
            pointer-events: none;
            opacity: 0;
        }
    }

    &__channel {
        width: 100%;
        height: 100%;
        background-color: $lnx-tertiary-surface-color;

        @media (max-width: $ln-min-channel-width) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;

            .ln-enable-motion & {
                transition: transform 0.2s ease-in;
            }

            &--expanded-right {
                transform: translateX(-71vw);
                border-top-left-radius: 1em;
                border-bottom-left-radius: 1em;
            }

            &--expanded-left {
                transform: translateX(87vw);
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
            }
        }
    }
}
