@import "lib/variables";

.ln-party-header {
    //position: relative;
    width: 100%;
    background-color: $lnx-primary-surface-color;
    padding: 0.5em;
    text-align: center;
    flex-shrink: 0;
    //z-index: 1;
    //box-shadow: 0 0.2em 0.2em -0.2em black;
    border-bottom: 2px solid $lnx-secondary-surface-color;
    height: 3em;
    max-height: 3em;

    display: flex;
    flex-wrap: nowrap;

    .ln-icon {
        font-size: 2em;
        padding: 0 0.5em;
        vertical-align: middle;
        text-align: right;
        flex: 1 0 auto;
    }

    &__name {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
