@import "lib/math.scss";
@import "lib/theme.scss";

$control-border-radius: 0.3em;

.ln-form {
    color: $lnx-primary-text-color;
    width: 30em;

    #title {
        text-align: center;
        padding: 1em;
    }

    hr {
        color: black;
    }

    input {
        outline: none;
        border: 1px solid #111;
        max-width: 100%;
        padding: 0.8em 1em;
        width: 100%;
        border-radius: $control-border-radius;
        background-color: $lnx-tertiary-surface-color;
        color: $lnx-primary-text-color;

        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-primary-text-color;
        }
    }
}

.ln-form-inner {
    flex: 1 auto;
}

.ln-form-label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.ln-form-group {
    margin: 1em;
}

.ln-form-control {
    .ln-form .ln-error & {
        border-color: $lnx-failure-color;
        //border-style: solid;
        //box-shadow: inset 0 0 0.2em $lnx-failure-color;
    }

    .ln-form .ln-success & {
        &:focus,
        &:active,
        &:focus-within {
            border-color: $lnx-success-color;
            //border-style: solid;
            //box-shadow: inset 0 0 0.2em $lnx-success-color;
        }
    }
}

.ln-form-control-wrapper {
    display: flex;

    &::before {
        position: absolute;
        margin-left: -1em;
        font-size: 2em;
    }

    &:focus,
    &:focus-within,
    &:active {
        &::before {
            content: ">";
        }
    }

    &.ln-error::before {
        color: $lnx-failure-color;
    }

    &.ln-success::before {
        color: $lnx-success-color;
    }
}

.ln-form-text {
    color: $lnx-secondary-text-color;
    font-size: 0.7em;
    margin: 1em 1em 0 1em;

    .ln-form-control-wrapper ~ & {
        width: 75%;
    }
}

.ln-btn {
    color: $lnx-primary-text-color;
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
    padding: golden_ratio(1, em);
    background-color: change-color(purple, $saturation: 20%, $lightness: 40%);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0.2em black;
    border-radius: 0.5em;
    position: relative;
    transition: background-color $lnx-transition-timing ease;

    // https://tobiasahlin.com/blog/how-to-animate-box-shadow/
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 1em black;
        opacity: 0;

        .ln-enable-motion & {
            transition: opacity $lnx-transition-timing ease;
        }
    }

    &:hover,
    &:active {
        text-decoration: underline;
        background-color: change-color(purple, $saturation: 25%, $lightness: 45%);

        &::after {
            opacity: 1;
        }
    }

    &:active,
    &:focus,
    &:focus-visible {
        outline: 3px solid change-color(purple, $saturation: 55%, $lightness: 65%);
    }
}
