@import "lib/variables";

.ln-msg-attachment {
    text-indent: 0;
    position: relative;

    //padding-left: 1em;
    //border-left: 2px solid rgb(160, 160, 160);

    //> * {
    //    margin-bottom: 0.5em;
    //}

    // spacing between multiple attachments
    &:not(:first-child) > * {
        margin-top: 0.5em;
    }

    // first attachments that come after some message text, needs spacing after text
    .ln-msg ~ & > *:first-child {
        margin-top: 0.5em;
    }

    // // first attachments with no preceeding text, no spacing (otherwise since it's not the first child in parent the "multiple attachments" rule applies)
    // .ln-msg__title ~ & > *:first-child {
    //     margin-top: 0;
    // }

    .spoiler-label {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .ui-text {
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            width: fit-content;
            margin: auto;
            padding: 0.75em 1em;
            border-radius: 2em;
        }

        &:hover .ui-text {
            background-color: rgba(0, 0, 0, 0.75);
        }

        cursor: pointer;
    }

    &.spoiler {
        overflow: hidden;
        width: fit-content;

        // temporary fix for ios..
        @supports (-webkit-touch-callout: none) {
            width: auto;
        }

        img,
        video {
            filter: blur(2em);
        }
    }

    @media (max-width: $ln-max-channel-width) {
        //padding-left: 1rem;
        padding-inline-end: 1rem;
        text-align: center;
    }

    &__download {
        margin-inline-start: 1em;
    }

    &__generic {
        text-align: start;
        padding: 0.5em;
        background-color: $lnx-primary-surface-color;

        display: inline-flex;
        flex-wrap: nowrap;

        min-width: 20em;
        max-width: calc(100% - 1em);

        border-radius: 0.25em;
        box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.1);

        @media (max-width: $ln-max-channel-width) {
            min-width: 0;
            max-width: 100%;
            width: 100%;
        }

        // mime type
        .ln-icon {
            font-size: 2.75em;
            display: inline-flex;

            .ln-light-theme & {
                svg {
                    fill: $lnx-secondary-text-color;
                }
            }
        }

        // both links
        a {
            white-space: break-spaces;
            word-wrap: break-word;

            // download icon
            .ln-icon {
                font-size: 2em;
            }
        }

        // every item in the generic attachment is vertically centered
        > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    audio,
    video,
    img {
        //max-height: 40em;
        max-height: 9 * 2.5em;
        max-width: min(100%, 16 * 2.5em);
        object-fit: contain;

        @media (max-width: $ln-max-channel-width) {
            max-width: 100%;
        }

        display: block;
        height: auto;
        width: auto;
    }

    img {
        cursor: pointer;
    }

    video {
        background-color: black;
    }

    audio {
        width: 100%;
        max-width: 80%;
    }

    .no-text & {
        display: inline;
    }
}

.ln-audio {
    .no-text & {
        display: inline;

        audio {
            display: inline;
            vertical-align: middle;
            margin: 0;
            height: 100%;
        }
    }
}

.ln-attachment-link {
    max-width: 100%;
    flex: 1 1 auto;
    min-width: 0; // prevents it from overflowing if text gets too long
}

.ln-attachment-size {
    color: $lnx-secondary-text-color;
    font-size: 0.8em;
}
