@import "lib/variables";

.ln-msg-box__emoji {
    position: relative;

    .ln-context-anchor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.ln-emoji-picker {
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;

    background-color: $lnx-primary-surface-color;
    border: 1px solid $lnx-secondary-surface-color;
    box-shadow: 0.25rem 0.25rem 0.5rem $lnx-primary-surface-color;

    padding: 2rem;
}
