@import "lib/variables";

.ln-msg-list {
    &__flex-container {
        flex: 1;
        position: relative;
    }

    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: transparent;

        &::after {
            // ensures it blocks hover stuff
            content: "";
        }
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        z-index: 1;
        padding: 0;
        line-height: normal;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.has-timeline {
            margin-right: 2em;
        }
    }

    &__group {
        //padding: 0.5em 0;
        display: flex;
        flex-direction: column;
        margin-top: 0.3em;
    }

    &__timeline {
        position: absolute;
        top: 0;
        width: 2em;
        right: 0;
        bottom: 0;
    }

    &:last-child {
        margin-bottom: 1em;

        @media (max-width: $ln-min-channel-width) {
            margin-bottom: 1.5em;
        }
    }

    //padding-top: 1em;
}

.ln-msg {
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0.25em 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);

            .ln-light-theme & {
                background-color: rgba(0, 0, 0, 0.05);
            }

            .ln-msg__sidets {
                color: $lnx-secondary-text-color;
            }
        }
    }

    //&__message {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //}

    &__title {
        padding-bottom: 0.35em;
    }

    &__username {
        margin-right: 0.5em;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    &__ts,
    &__sidets {
        cursor: default;
    }

    &__ts {
        font-size: 0.8em;
        color: $lnx-secondary-text-color;
    }

    &__side {
        min-width: 4.025em;
        flex-shrink: 0;
        padding-left: 0.8em;
        padding-right: 0.6em;

        @media (min-width: $ln-min-channel-width) {
            min-width: 4.425em;
            padding-left: 1em;
            padding-right: 0.8em;
        }

        .ln-avatar {
            font-size: 1.75em;
        }
    }

    &__sidets {
        font-size: 0.6em;
        color: transparent;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        user-select: none;
    }
}

.ln-msg-attachment {
    padding-left: 4.025em;

    audio,
    video,
    img {
        max-width: 40%;
    }

    audio {
        width: 100%;
    }
}
