.ln-msg-list {
    &__flex-container {
        flex: 1;
        position: relative;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &.has-timeline {
            margin-right: 2em;
        }
    }

    &__group {
        padding: 0.5em 0;
    }

    &__timeline {
        position: absolute;
        top: 0;
        width: 2em;
        right: 0;
        bottom: 0;
    }

    padding-top: 1em;
}
