@import "lib/variables";

.ln-msg {
    //width: 100%;

    //overflow: hidden;

    min-width: 0;
    flex: 0 1 auto;

    &--editing {
        background-color: rgba(128, 128, 128, 0.3);
    }

    //padding-top: 0.2em;
    word-wrap: break-word;

    &__message {
        //overflow: hidden;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
    }

    // element spacing
    //&:not(:first-child) {
    //    margin-top: 1em;
    //
    //    .compact & {
    //        margin-top: 0.5em;
    //    }
    //}

    //font-size: 10.5pt;
    //font-size: 0.875em;
    //font-size: calc(0.875em * var(--ln-chat-font-size-adjust, 1));

    font-size: 1em;
    font-size: calc(1em * var(--ln-chat-font-size-adjust, 1));

    line-height: calc(1.2 / var(--ln-chat-font-size-adjust, 1));
    font-family: $lnx-chat-font-family;
    tab-size: $lnx-chat-tabsize;

    .hljs code,
    .ln-math {
        font-size: calc(0.875em / var(--ln-chat-font-size-adjust, 1));
    }
}
