@import "lib/variables";

.ln-msg {
    //width: 100%;

    &--editing {
        background-color: rgba(128, 128, 128, 0.3);
    }

    //padding-top: 0.2em;
    word-wrap: break-word;

    &__message {
        overflow: hidden;
    }

    //font-size: 10.5pt;
    font-size: 0.875em;
    font-family: $lnx-chat-font-family;
    tab-size: $lnx-chat-tabsize;
}
