@import "lib/variables";

.ln-msg {
    //width: 100%;

    //overflow: hidden;

    min-width: 0;
    flex: 0 1 auto;

    &--editing {
        background-color: rgba(128, 128, 128, 0.3);
    }

    //padding-top: 0.2em;
    word-wrap: break-word;

    &__message {
        //overflow: hidden;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
    }

    // element spacing
    //&:not(:first-child) {
    //    margin-top: 1em;
    //
    //    .compact & {
    //        margin-top: 0.5em;
    //    }
    //}

    //font-size: 10.5pt;
    //font-size: 0.875em;
    //font-size: calc(0.875em * var(--ln-chat-font-size-adjust, 1));

    font-size: 1em;
    font-size: calc(1em * var(--ln-chat-font-size-adjust, 1));

    line-height: calc(1.2 / var(--ln-chat-font-size-adjust, 1));
    font-family: $lnx-chat-font-family;
    tab-size: $lnx-chat-tabsize;

    .hljs code,
    .ln-math {
        font-size: calc(0.875em / var(--ln-chat-font-size-adjust, 1));
    }
}

.ln-msg {
    white-space: break-spaces;

    .compact & {
        display: inline;
        //text-indent: 0.5em;
        word-wrap: anywhere;
    }

    * {
        text-indent: 0;
    }

    &--compact {
        //text-indent: -1rem;
        //margin-left: 1rem;

        text-indent: -5em;
        margin-inline-start: 4.5em; // margin-left
        max-width: calc(100% - 4.5em);
        flex: 1 1 auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0.25rem 0;
        position: relative;
        overflow: hidden;

        // TODO: Re-evaluate this when removing scrollbar
        margin-inline-end: 0.5em;

        .compact & {
            padding: 0;
            margin-inline-end: 0;
        }
    }

    &__outer {
        scroll-margin: 50vh;

        &.sg {
            margin-top: calc(2 * var(--ln-chat-group-padding, 0.15em));
        }

        // single lines handle their own padding, remove padding here
        .group-lines &.sg {
            margin-top: 0;
        }

        &:first-child {
            margin-top: 0;
        }

        &:hover,
        &.highlighted {
            background-color: rgba(0, 0, 0, 0.1);

            .ln-light-theme & {
                background-color: rgba(0, 0, 0, 0.05);
            }

            .ln-msg__sidets {
                opacity: 1;
            }
        }

        &.highlighted.warning {
            background-color: rgb(255, 85, 85, 0.3);
        }

        .compact & {
            &:first-child .ln-msg__sidets {
                opacity: 1;
            }
            .ln-msg__side {
                display: inline-block;
                text-align: center;
            }
        }
    }

    // &__cm {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    // }

    //&__message {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //}

    &__title {
        // This needs no padding thanks to justify-content: space-between on the message wrapper

        .compact & {
            display: inline-flex;
            text-indent: 0;
            vertical-align: bottom;
        }
    }

    &__username {
        font-size: 1em;
        font-weight: bold;
        display: inline-flex;
        margin-inline-end: 0.5em; // margin-right
        max-width: 20em;
        cursor: pointer;

        color: white;

        .ln-enhanced-contrast & {
            filter: drop-shadow(0 0 1px black);
        }

        .ln-light-theme.ln-enhanced-contrast & {
            filter: drop-shadow(0 0 1px white);
        }

        .ln-light-theme & {
            color: black;

            // TODO: Improve this style
            //filter: brightness(0.75) saturate(1.7) contrast(1.2);
        }

        &:hover {
            text-decoration: underline;
            text-decoration-color: currentColor;
        }

        position: relative;

        .ln-context-anchor {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        span.ui-text {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        //.compact & {
        //    margin-right: 0.75em;
        //}
    }

    &__ts,
    &__sidets {
        cursor: default;
    }

    &__ts {
        font-size: 0.8em;
        color: $lnx-secondary-text-color;

        svg {
            fill: $lnx-secondary-text-color;
        }

        .flags {
            margin-inline-start: 0.5em; // margin-left

            .ln-icon {
                vertical-align: bottom;
                display: inline;
                font-size: 1.2em;
            }
        }
    }

    &__side {
        min-width: 4.025em;
        flex-shrink: 0;
        padding-inline-start: 0.75em; // padding-left
        position: relative;
        //display: flex;
        display: block;
        //padding-right: 0.6em;
        //text-align: center;

        @media (min-width: $ln-min-channel-width) {
            min-width: 4.425em;
            padding-inline-start: 1em; // padding-left
            //padding-right: 0.8em;
        }

        .ln-avatar {
            font-size: 1.75em;
            //display: inline;
        }

        .ln-context-anchor {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
    }

    //max-width: calc(100% - 4.025em);
    //@media (min-width: $ln-min-channel-width) {
    //    max-width: calc(100% - 4.425em);
    //}

    &__sidets {
        font-size: 0.6em;
        color: $lnx-secondary-text-color;
        opacity: 0;
        //text-align: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        user-select: none;
    }

    &__top {
        text-align: center;
        margin: 1em 0;
        font-size: 1.3em;
        font-size: min(1.5vw, 1.3em);
        border-bottom: 1px solid $lnx-primary-text-color;
        padding-bottom: 1em;

        > div {
            line-height: 2;
        }

        .ln-icon {
            font-size: 2em;
            display: inline-flex;
        }

        @media (max-width: $ln-max-channel-width) {
            font-size: min(4.5vw, 1.3em);
        }
    }

    &__side.ln-system-message {
        display: block;
        text-align: center;

        svg {
            fill: lightgreen;

            .ln-light-theme & {
                fill: green;
            }
        }

        .ln-icon {
            font-size: 1.75em;
            vertical-align: sub;

            //&__wrapper {
            //    vertical-align: middle;
            //}
        }
    }

    &__message.ln-system-message {
        color: $lnx-secondary-text-color;
        justify-content: center;
    }
}

.ln-separator {
    position: absolute;
    width: 0;
    opacity: 0;
    display: inline-block;
    font-style: normal;
}

.ln-system-sub {
    font-size: 0.6em;
    margin-left: 0.5em; // NOTE: Always positions to the right?
    vertical-align: middle;
    cursor: default;
    color: $lnx-secondary-text-color;
}
