@import "lib/variables";

.ln-typing {
    height: 1em;
    padding-inline: 2rem;
    display: flex;

    #file-upload-meta {
        text-align: right;
        margin-inline-start: auto;
    }

    @media (max-width: $ln-max-channel-width) {
        padding-inline: 1rem;

        &__bottom {
            display: none;
        }
    }

    &__top {
        @media (min-width: $ln-min-channel-width) {
            display: none;
        }

        &:empty {
            display: none;
        }

        //padding-top: 0.5em;

        position: absolute;
        top: -1em;
        z-index: 1;
        left: 0;
        right: 0;
        text-align: start;
        background-color: $lnx-tertiary-surface-color;
    }

    span {
        font-size: 0.8em;
        color: $lnx-secondary-text-color;
        vertical-align: top;

        &:empty {
            display: none;
        }
    }
}

.ln-msg-box {
    .ln-msg-textarea {
        margin-inline-end: 1em;
    }

    &__wrapper {
        position: relative;
        flex-shrink: 0;
        color: $lnx-primary-text-color;
        background-color: rgba(128, 128, 128, 0.5);

        .ln-light-theme &,
        .ln-oled-theme & {
            background-color: rgba(128, 128, 128, 0.2);
        }

        // TODO: Fix textarea background color bleeding over border-radius in mobile-view and showing the sidebar
        @media (min-width: $ln-min-channel-width) {
            border-radius: 0.5rem;
            margin-inline: 1rem;

            &.with-footers {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            margin-inline: calc(1rem - 2.5px);
            border: 2.5px solid transparent;

            &.focused {
                border-color: hsl(240, 80%, 70%);
            }
        }
    }

    &--disabled * {
        cursor: not-allowed !important;
    }

    cursor: text;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;

    min-height: 3em;
    position: relative;

    &__disable {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: not-allowed !important;
        z-index: 10; // ensure this is greater than the file-upload input z-index
    }

    * {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__debug {
        position: absolute;
        left: 80%;
        top: 30%;
    }

    &__emoji,
    &__send {
        //text-align: center;
        flex: 0 0 auto;
        cursor: pointer;
        fill: $lnx-secondary-text-color;
        &:hover,
        &.active {
            fill: $lnx-primary-text-color;

            .ln-msg-box--disabled & {
                fill: $lnx-secondary-text-color;
            }
        }
    }

    &__emoji {
        .ln-icon {
            font-size: 1.5em;
        }
        margin-inline: 1em;
    }

    &__send {
        .ln-icon {
            font-size: 1.75em;
        }

        width: 0;
        overflow: hidden;

        .ln-enable-motion & {
            transition-duration: 0.2s;
            transition-property: all;
            transition-timing-function: ease-out;
        }

        &.visible {
            width: auto;
            margin-inline-end: 1em;
        }
    }

    &__box {
        width: 100%;
        textarea {
            tab-size: $lnx-chat-tabsize;
            margin: 0.5em 0;
            color: $lnx-primary-text-color;
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            font-family: $lnx-chat-font-family;
            background-color: transparent;
            font-size: inherit;
            user-select: initial;
            caret-color: $lnx-primary-text-color;
        }
    }
}
