@import "lib/variables";

.ln-typing {
    height: 1em;
    padding-inline-start: 2rem;

    @media (max-width: $ln-max-channel-width) {
        padding-inline-start: 1rem;

        &__bottom {
            display: none;
        }
    }

    &__top {
        @media (min-width: $ln-min-channel-width) {
            display: none;
        }

        &:empty {
            display: none;
        }

        //padding-top: 0.5em;

        position: absolute;
        top: -1em;
        z-index: 1;
        left: 0;
        right: 0;
        text-align: start;
        background-color: $lnx-tertiary-surface-color;
    }

    span {
        font-size: 0.8em;
        color: $lnx-secondary-text-color;
        vertical-align: top;
    }
}

.ln-msg-box {
    cursor: text;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    flex-shrink: 0;
    color: $lnx-primary-text-color;
    background-color: rgba(128, 128, 128, 0.5);

    .ln-light-theme &,
    .ln-oled-theme & {
        background-color: rgba(128, 128, 128, 0.2);
    }

    min-height: 3em;
    position: relative;

    // TODO: Fix textarea background color bleeding over border-radius in mobile-view and showing the sidebar
    @media (min-width: $ln-min-channel-width) {
        border-radius: 0.5rem;
        margin: 0 1rem;

        &.with-footers {
            border-top-left-radius: 0;
        }

        margin: 0 calc(1rem - 2.5px);
        border: 2.5px solid transparent;

        &.focused {
            border-color: hsl(240, 80%, 70%);
        }
    }

    &--disabled * {
        cursor: not-allowed !important;
    }

    &__disable {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: not-allowed !important;
        z-index: 10; // ensure this is greater than the file-upload input z-index
    }

    * {
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    &__debug {
        position: absolute;
        left: 80%;
        top: 30%;
    }

    &__emoji,
    &__send {
        //text-align: center;
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        fill: $lnx-secondary-text-color;
        &:hover,
        &.active {
            fill: $lnx-primary-text-color;

            .ln-msg-box--disabled & {
                fill: $lnx-secondary-text-color;
            }
        }
    }

    &__emoji {
        font-size: 1.5em;
        padding: 0 0.5em 0 0.5em;
    }
    &__send {
        font-size: 1.75em;
        padding: 0 0.5em 0 0.5em;
        position: relative;

        input {
            display: block;
            position: absolute;
            opacity: 0;
            max-width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 3;
            cursor: pointer;
        }
    }

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        textarea {
            tab-size: $lnx-chat-tabsize;
            margin: 0.5em 0;
            color: $lnx-primary-text-color;
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            font-family: $lnx-chat-font-family;
            background-color: transparent;
            font-size: inherit;
            user-select: initial;
            caret-color: $lnx-primary-text-color;
        }
    }
}
