@import "lib/variables";

.ln-upload-inputs {
    input {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.ln-attachment-previews {
    @include scrollbar($lnx-secondary-text-color, $lnx-tertiary-surface-color);

    height: min(15em, 30vw);
    background-color: rgba(0, 0, 0, 0.15);
    .ln-light-theme & {
        background-color: rgba(255, 255, 255, 0.15);
    }

    &:empty {
        display: none;
    }

    text-align: center;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    padding-inline: 0.5em;
    border-radius: 0.5em;

    li {
        height: calc(100% - 1em);
        flex: 0 0 auto;
        position: relative;

        display: flex;
        flex-direction: column;
        margin-block: 0.5em;
    }
}

.ln-attachment-controls {
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: calc(100% + 2px);
    z-index: 2; // above typing indicator

    @media (max-width: $ln-max-channel-width) {
        bottom: calc(100% - 1px);
    }

    //left: 10%;
    background-color: var(--ln-tertiary-surface-color);
    z-index: 1;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    right: 10%;
    width: fit-content;
    overflow: hidden;

    border: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: none;

    box-shadow: 0px 0 0.2em rgba(0, 0, 0, 0.5);

    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    .ln-icon {
        font-size: 3em;
    }

    &__remove {
        svg {
            color: #ff5555;
            fill: #ff5555;
        }
    }

    > div {
        cursor: pointer;

        &:hover {
            background-color: rgba(128, 128, 128, 0.3);
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(128, 128, 128, 0.3);
        }
        padding: 0.125em;
    }
}

.ln-attachment-preview {
    width: min(15em, 30vw);
    justify-content: end;
    padding: 0.5em;
    margin-inline-end: 1em;

    background-color: rgba(0, 0, 0, 0.2);
    .ln-light-theme & {
        background-color: rgba(255, 255, 255, 0.5);
    }

    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);

    span.ui-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
        height: 1.5em;
        line-height: 1;
        flex-shrink: 0;

        margin-block-start: 0.5em;
        margin-block-end: 0.25em;
    }

    &.removing {
        @keyframes shrink_preview {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(0);
            }
        }

        animation: shrink_preview 0.15s ease-out;
    }

    &__preview {
        width: 100%;
        height: 100%;

        min-height: 0;
        min-width: 0;

        img,
        video,
        svg,
        .ln-icon,
        .ln-icon__wrapper {
            border: none;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &.spoilered {
            overflow: hidden;
            width: fit-content;
            margin: auto auto;
            flex: 0 1 fit-content;

            img,
            video {
                filter: blur(1em);
            }
        }
    }

    &.removing &__controls,
    &.uploading &__controls {
        display: none;
    }

    &__controls {
        overflow: hidden;
        z-index: 1;
        position: absolute;
        //top: -0.125em;
        top: 0;
        //right: -0.125em;
        right: -0.5em;
        font-size: 2em;

        opacity: 0.3;

        > div {
            cursor: pointer;
        }

        &:hover {
            opacity: 1;
            box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
        }

        background-color: $lnx-primary-surface-color;
        border-radius: 0.25em;

        > div {
            &:not(:last-child) {
                border-right: 1px solid rgba(128, 128, 128, 0.3);
            }

            &:hover {
                background-color: rgba(128, 128, 128, 0.3);
            }

            font-size: min(1em, 8vw);

            padding: 0.125em;
            display: inline-block;
        }
    }

    &__remove {
        svg {
            color: #ff5555;
            fill: #ff5555;
        }
    }

    &__progress {
        > span {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            background-color: $lnx-primary-text-color;

            box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
        }

        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.5em;
        background-color: rgba(128, 128, 128, 0.8);
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
}

.ln-filedrop-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.5);

    .ln-light-theme & {
        background-color: rgba(192, 192, 192, 0.5);
    }

    > div {
        font-size: 1rem;

        max-width: 25em;
        max-height: 15em;

        width: 100%;
        height: 100%;

        background-color: $lnx-primary-surface-color;

        padding: 2em;

        border-radius: 2em;

        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2em' ry='2em' stroke='white' stroke-width='4' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        .ln-light-theme & {
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2em' ry='2em' stroke='black' stroke-width='4' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        }

        background-size: contain;
        background-position: center;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        > span {
            font-size: 2rem;
        }

        user-select: none;
    }
}
