@import "lib/variables";

@keyframes settings-zoom-in {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
        transform: unset;
    }
}

@keyframes settings-zoom-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes settings-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes settings-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ln-settings {
    background-color: $lnx-primary-surface-color;
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    backface-visibility: hidden;

    //background: radial-gradient(blue, red, purple, green);

    .ln-enable-motion & {
        animation-duration: 0.2s;
        animation-timing-function: ease-in;
    }

    &--opened {
        @media (min-width: $ln-min-channel-width) {
            animation-name: settings-zoom-in, settings-fade-in;
        }

        @media (max-width: $ln-max-channel-width) {
            animation-name: settings-fade-in;
        }
    }

    &--closing {
        animation-fill-mode: forwards;

        @media (min-width: $ln-min-channel-width) {
            animation-name: settings-zoom-out, settings-fade-out;
        }

        @media (max-width: $ln-max-channel-width) {
            animation-name: settings-fade-out;
        }
    }

    &__wrapper {
        position: relative;
        margin: auto auto;
    }

    display: flex;
    flex-wrap: nowrap;

    @media (min-width: $ln-min-channel-width) {
        &__categories {
            min-width: 15rem;
            flex: 1 0 auto;
        }

        &__page {
            width: 100%;
        }
    }

    @media (max-width: $ln-max-channel-width) {
        &__categories,
        &__page {
            width: 100%;
        }
    }

    &__categories {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        h3 {
            text-align: center;
            padding: 0.5em;
            border-bottom: 1px solid $lnx-tertiary-surface-color;
        }

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
            // line-height: normal;
        }

        li {
            font-size: 1.25rem;
            text-align: center;
            width: 100%;

            > a {
                line-height: normal;
                font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
                padding: 0.35em 0;
            }

            &:not(:last-child) {
                margin-bottom: 0.15em;
            }

            //> div {
            //    padding: 0.2em 0;
            //}

            &:hover {
                background-color: rgba(128, 128, 128, 0.1);
            }

            &.selected {
                background-color: $lnx-tertiary-surface-color;
            }
        }

        hr {
            width: 100%;
            border-color: $lnx-secondary-text-color;
            margin: 0;
        }

        a,
        &:hover,
        &:active {
            text-decoration: none;
            color: $lnx-primary-text-color;
        }

        a {
            display: block; // fill whole li space
        }

        .spacer {
            height: 100%;
            flex-grow: 1;
        }

        div#logout {
            display: flex;
            justify-content: center;
            cursor: pointer;
            padding: 0.35em 0;

            > div {
                position: relative;
                margin-top: auto;
                //font-size: 3em;
                text-align: center;
                padding: 0.2em;
                line-height: 1;

                //&:hover,
                //&:focus,
                //&:active {
                //    filter: drop-shadow(0 0 0.07em $lnx-secondary-text-color);
                //}
            }
        }
    }

    &__page {
        background-color: $lnx-tertiary-surface-color;

        h3 {
            text-align: center;
            padding: 0.5em;
        }

        overflow: auto;
    }

    &__header {
        display: flex;
        border-bottom: 1px solid $lnx-secondary-surface-color;

        > h3 {
            flex: 1;
            font-size: min(2em, 6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        > div {
            user-select: none;
            font-size: 1.2rem;
            padding: 0.5rem;
            border: 2px solid $lnx-secondary-surface-color;
            border-radius: 0.5rem;
            cursor: pointer;
            background-color: $lnx-primary-surface-color;
            margin: 0.5rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .ln-oled-theme & {
                border-color: $ln-oled-border-color;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__content {
        margin: 2em;
    }
}
